[2020-06-22 05:54] imback82 opened #16 "Hyperspace.explain / df.explain doesn't work as expected"
**Describe the issue**
`Hypersapce.explain` / `df.explain` doesn't pick up the filter index as expected.

**To Reproduce**
[code]
Looks like if the project is the same as filter output, `Project` seems to be removed when the rule runs, thus `FilterIndexRule` cannot match. `show()` seems to work fine.

The following also works fine: `val query = df.filter(df("id") === 1).select("id")`

**Expected b

[2020-06-23 21:06] apoorvedave1 opened #22 "Add an API to determine if an index is invalid (i.e., if base table changed)."
**Describe the issue**

Add an API like `hs.isValid(indexName)` which returns true or false depending on whether the index is valid.
An Index can become invalid if the original data is changed. This would lead to signature mismatch and index would become unusable.

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

[2020-06-23 21:11] apoorvedave1 opened #23 "Investigate whether OR condition can use bucketing info for Join optimization."
**Describe the issue**
Investigate whether `OR` condition can use bucketing info for Join optimization.
Hyperspace currently supports conditions like `select C, D from T1, T2 where T1.A = T2.A AND T1.B = T2.B` where this condition in CNF form can be optimized with indexes. Investigation required to test whether `select C, D from T1, T2 where T1.A = T2.A OR T1.B = T2.B` can also be optimized.

**To

[2020-06-23 21:29] apoorvedave1 opened #25 "Add Alias column support in join condition for JoinIndex rule"
**Describe the issue**
Add support for `org.apache.spark.sql.catalyst.expressions.Alias` as column type in `JoinIndexRule.scala`. Currently, this rule only supports Join Conditions on `org.apache.spark.sql.catalyst.expressions.Attribute`s . Consider a case where a column `c` from the base table has an alias `aliasC`. A Join query with `c` will be able to utilize indexes but a query with `aliasC` w

[2020-06-23 21:53] apoorvedave1 opened #26 "Use FileContext api instead of FileSystem for atomic renames (in IndexLogManager)."
### Describe the issue
Operation Log in Hyperspace relies on 'atomic rename' of log files to support concurrent operations. These operations use `org.apache.hadoop.fs.FileSystem.rename()` api which doen't provide atomicity guarantees as strong as `org.apache.hadoop.fs.FileContext.rename()`

### Expected behavior
Better atomicity guarantee

### More Details
From `org.apache.spark.sql.execution.stre

[2020-06-23 22:39] apoorvedave1 opened #27 "Handle Case sensitivity in indexed and included column names appropriately"
### Describe the issue
Handle case-sensitivity in indexed and included column names appropriately based on the value of `"spark.sql.caseSensitive"`.

Here's the desired behavior
Q. If case-sensitive = true, index config is wrong case, will createIndex work? No. Fail, exception.
Q. If case-sensitive = false, index config is wrong case, will createIndex work? Yes.
Q. If case-sensitive = true, an ind

[2020-06-24 00:00] apoorvedave1 opened #29 "Incremental Indexing: Support for incremental changes to index when new data is added"
### Describe the issue
Currently when new data is added, the indexes become obsolete. The only way to make them usable is through the `refresh()` api which recreates complete index from scratch. Add functionality to support creation of indexes only on additional new data instead of recreating from scratch.

### Expected behavior
New additional data to old data doesn't require rebuilding of indexes

[2020-06-24 00:04] apoorvedave1 opened #30 "Hybrid Scans: Use indexes of partially indexed data, and use original data for unindexed data"
### Describe the issue
Currently if new additional data gets added to the old data, the indexes on the older part of data become obsolete. Hyperspace doesn't use this stale index at all. Investigate and find if some form of "Hybrid" scanning could be done to utilize the partially created indexes if possible and if it improves performance.

### To Reproduce
NA
### Expected behavior
If new data is a

[2020-06-24 00:04] imback82 commented on #29
Can you update the description so that the current `refresh` does a full rebuild?

[2020-06-24 00:10] apoorvedave1 opened #31 "Remove Test duplication, e.g. creation of test object IndexLogEntry is highly duplicated"
### Describe the issue
Remove Test duplication, e.g. creation of test object IndexLogEntry is highly duplicated. This is required only for code cleanup. No functionality change.

### To Reproduce
NA

### Expected behavior
NA

### Environment
NA

[2020-06-24 00:12] apoorvedave1 opened #32 "Remove test dependency on IndexLogManager.getLatestLog() and mark it as final."
### Describe the issue
Code Cleanup:
Remove test   dependency on IndexLogManager.getLatestLog() and mark it as final.
Currently tests extend IndexLogManager class and override some methods of this class like getLatestLog. Improve this design so that source classes (e.g. IndexLogManager) should not depend on tests to keep their behavior.
### To Reproduce
NA
### Expected behavior
NA
### Environment

[2020-06-24 01:20] apoorvedave1 commented on #29
added description mentioning current `refresh()` does a full rebuild.

[2020-06-24 02:35] thrajput opened #37 "Inconsistent behavior in python's hyperspace.explain after df.explain from scala version of hyperspace.explain"
### Describe the issue
The hyperspace.explain(df) API prints out same plans in both indexed and non indexed section after Hyperspace.enable(spark) and df.explain().

### To Reproduce

In pyspark, do below.
1. Enable hyperspace.
2. Create a dataframe that is expected to have applied indexes.
3. Do df.explain
4. Do hyperspace.explain(df...)

Reproducible in synapse as shown below.

![image](https://

[2020-06-24 17:28] pirz opened #49 "Provide readme with design explanation for explain API"
### Describe the issue
Write an explanation on explain() API. Check [`Hyperspace.scala`](https://github.com/microsoft/hyperspace/blob/master/src/main/scala/com/microsoft/hyperspace/Hyperspace.scala).
The description should include design overview of the API and provides examples of invoking it and how the output should be interpreted.

### To Reproduce
NA

### Expected behavior
Hyperspace document

[2020-06-24 17:33] pirz opened #51 "Deduplicate getIndexesForPlan() and findCoveringIndexes() functions which are duplicated in FilterIndexRule and JoinIndexRule"
### Describe the issue
`FilterIndexRule.findCoveringIndexes()` function and `JoinIndexRule.getIndexesForPlan()` function are similar in  implementation.
Refactor them as common code in a single function and change the classes to use that.

### To Reproduce
NA

### Expected behavior
FilterIndex rule and JoinIndex rule implementation under [rules](https://github.com/microsoft/hyperspace/tree/master/

[2020-06-24 17:39] apoorvedave1 opened #52 "Index Ranking for Filter Index Rule"
### Describe the issue
Improve ranking algorithm for index selection for Filter Indexes. Current rule picks the first index which contains a column from filter predicates. Improve it to rank indexes and possibly pick a better index which contains more columns from filter predicates

### To Reproduce
NA
### Expected behavior
NA

### Environment
NA

[2020-06-24 17:39] pirz opened #53 "Replace printStackTrace with Logging in IndexLogManager class"
### Describe the issue
Several functions in [`IndexLogManagerImpl`](https://github.com/microsoft/hyperspace/blob/master/src/main/scala/com/microsoft/hyperspace/index/IndexLogManager.scala)  are using `printStackTrace()` when hitting an unexpected exception.
Change the implementation such that proper Hyperspace logging is used instead of printing the stack.

### To Reproduce
NA

### Expected behavi

[2020-06-24 17:43] apoorvedave1 opened #54 "Add optimization rule for Aggregations"
### Describe the issue
Hash based aggregations work on same core principles as Hash based Join Algorithms like SortMergeJoin. Bucketing can be utilized for such Aggregation nodes also. Investigate and Add AggregationIndexRule which utilizes bucketized indexes.

### To Reproduce
NA
### Expected behavior
NA
### Environment
NA

[2020-06-24 17:47] pirz opened #55 "Add Config file for Hyperspace"
### Describe the issue
Unify all Hyperspace related configurations in a single configuration file and add them to `spark.conf`.
Check [here](https://microsoft.github.io/hyperspace/docs/ug-configuration) for a list of Hyperspace configurations.

Today, for changing any Hyperspace related config, user needs to manually add it to spark configurations. For example:
`spark.conf.set(IndexConstants.INDEX

[2020-06-24 17:48] apoorvedave1 opened #56 "Add stable state check in IndexLogManager.createLatestStableLog()"
### Describe the issue
In   IndexLogManager.createLatestStableLog() make sure the log being copied has a   stable state. The api currently makes a copy of whatever log id it's passed, without 'assert'ing that the state of this log is stable (i.e. ACTIVE, DELETED, DOESNOTEXIST)

### To Reproduce
NA

### Expected behavior
NA
### Environment
NA

[2020-06-24 17:51] apoorvedave1 opened #57 "Rule Based Index Recommender"
### Describe the issue
Build a rule based Index Recommender. Rule-Based means it just looks at the query plans of your workload and suggests indexes based on that.
(Its alternative would be a cost-based recommender which would also look at the data and it's properties, stats etc. to suggest the indexes)
### To Reproduce
NA
### Expected behavior
NA
### Environment
na

[2020-06-24 17:52] pirz opened #58 "Add documentation for JoinIndexRule"
### Describe the issue
Write a readme file for [JoinIndexRule](https://github.com/microsoft/hyperspace/blob/master/src/main/scala/com/microsoft/hyperspace/index/rules/JoinIndexRule.scala) .
The description should describe patterns that the rule looks for in a query plan and how the query plan is transformed to leverage indexes.

### To Reproduce
NA

### Expected behavior
Hyperspace documentation s

[2020-06-24 17:54] pirz opened #59 "Add documentation for FilterIndexRule"
### Describe the issue
Write a readme file for [FilterIndexRule](https://github.com/microsoft/hyperspace/blob/master/src/main/scala/com/microsoft/hyperspace/index/rules/FilterIndexRule.scala) .
The description should describe patterns that the rule looks for in a query plan and how the query plan is transformed to leverage an index.

### To Reproduce
NA

### Expected behavior
Hyperspace documentat

[2020-06-24 18:17] apoorvedave1 opened #60 "Optimize Indexes support"
### Describe the issue
Blocked by #29
Once hyperspace has an incremental indexing support, add support for optimizing indexes. This would pick parts of indexes which are made of large number of small files, and combine/compact them into small number of large files. This would improve the performance of the index since the number of index files would be greatly reduced

### To Reproduce

NA
### Exp

[2020-06-24 18:22] apoorvedave1 opened #61 "Automatic Periodic compaction of indexes"
### Describe the issue
Blocked on #60
After a few instances of incremenatal indexing, the hyperspace system would auto-recognize that the number of index files are too large now and it's time to `optimize()` the indexes. On the next call (e.g. every 5th or 10th call) of incremental indexing, an auto compactor should automatically compact them by calling `optimize` or something similar.

### To Rep

[2020-06-24 18:28] pirz opened #62 "Add utility to normalize conditions into CNF"
### Describe the issue
Add code to utility to normalize a condition into conjunctive normal form [CNF](https://en.wikipedia.org/wiki/Conjunctive_normal_form).

Optimization rules could benefit from this code when checking and comparing arbitrary conditions.

### To Reproduce
NA

### Expected behavior
[`util`](https://github.com/microsoft/hyperspace/tree/master/src/main/scala/com/microsoft/hyperspa

[2020-06-24 18:38] pirz opened #63 "Add documentation for concurrency model"
### Describe the issue
Write a readme file for concurrency model in Hyperspace.
The description should describe important design details on how concurrent index modification actions are handled in Hyperspace along with examples.

### To Reproduce
NA

### Expected behavior
Hyperspace documentation should be extended with a readme file on concurrency model.

### Environment
NA

[2020-06-24 18:40] pirz opened #64 "Add documentation for progress (operation) log"
### Describe the issue
Write a readme file for the structure of progress log in Hyperspace.
The description should describe the format of progress (operation) log for indexes along with examples.

### To Reproduce
NA

### Expected behavior
Hyperspace documentation should be extended with a readme file on progress log format.

### Environment
NA

[2020-06-24 18:46] pirz opened #65 "Update optimization rules to consider indexes in transitioning states"
### Describe the issue
Currently, [`FilterIndexRule`](https://github.com/microsoft/hyperspace/blob/master/src/main/scala/com/microsoft/hyperspace/index/rules/FilterIndexRule.scala) and [`JoinIndexRule`](https://github.com/microsoft/hyperspace/blob/master/src/main/scala/com/microsoft/hyperspace/index/rules/JoinIndexRule.scala) only consider indexes in the ACTIVE state for optimization. Update the c

[2020-06-24 18:49] pirz opened #66 "Enhance logging throughout the code"
### Describe the issue
Modify Hyperspace code to enhance logging.

### To Reproduce
NA

### Expected behavior
Logging behavior should be improved throughout the code base.

### Environment

[2020-06-24 18:57] pirz opened #67 "Use a clock trait in index cache"
### Describe the issue
Add clock trait to the code and modify [`CreationTimeBasedIndexCache`](https://github.com/microsoft/hyperspace/blob/master/src/main/scala/com/microsoft/hyperspace/index/CachingIndexCollectionManager.scala) to use the clock with System time by default. Tests cases under [`IndexCacheTest`](https://github.com/microsoft/hyperspace/blob/master/src/test/scala/com/microsoft/hypersp

[2020-06-24 19:09] pirz opened #69 "Use Mockito in index cache tests"
### Describe the issue
Use [Mockito]((https://site.mockito.org/)) in [`Index Cache tests`](https://github.com/microsoft/hyperspace/blob/master/src/test/scala/com/microsoft/hyperspace/index/IndexCacheTest.scala) and change [`IndexCacheFactoryImpl`](https://github.com/microsoft/hyperspace/blob/master/src/main/scala/com/microsoft/hyperspace/index/IndexCacheFactory.scala) to return [`CreationTimeBased

[2020-06-24 19:38] imback82 commented on #66
Can you be more specific? This sounds very vague.

[2020-06-26 23:06] rapoth opened #74 "Add Python Notebook for Hyperspace"
### Describe the issue

Currently, there is only a Scala notebook provided that demonstrates the e2e functionality of Hyperspace. It would be good to have a Python notebook as well.

### To Reproduce

N/A

### Expected behavior

N/A

### Environment

N/A

[2020-06-26 23:06] rapoth commented on #74
CC: @thrajput

[2020-06-26 23:07] rapoth opened #75 "Add C# Notebook for Hyperspace"
### Describe the issue

Currently, there is only a Scala notebook provided that demonstrates the e2e functionality of Hyperspace. It would be good to have a C# notebook as well.

### To Reproduce

N/A

### Expected behavior

N/A

### Environment

N/A

[2020-06-26 23:07] rapoth commented on #75
CC: @AFFogarty

[2020-06-30 22:42] pirz opened #76 "Add signature computation support for arbitrary logical plans"
### Describe the issue
Currently, Hyperspace only supports generating plan signature for logical plans consisting of only logical relation nodes (Check [FileBasedSignatureProvider](https://github.com/microsoft/hyperspace/blob/master/src/main/scala/com/microsoft/hyperspace/index/FileBasedSignatureProvider.scala)).
Moving forward, Hyperspace needs to support generating signature for arbitrary logica

[2020-07-01 17:43] pirz opened #79 "Create a sample Hyperspace "HelloWorld" application"
### Describe the issue
Write a sample Hyperspace `HelloWorld` application code with some simple and reasonable scenario.
Minimally the app code should create some example indexes on some sample data and demonstrate how those indexes can be maintained and used.

Main goal for the app is to show how one can import and use Hyperspace within a Spark application.

### To Reproduce
NA

### Expected beha

[2020-07-06 09:43] pherbel commented on #79
Hello, I'm looking forward to it.

Could you share a c# .net spar version too?

[2020-07-07 02:02] rapoth commented on #79
CC: @AFFogarty for the C# version

[2020-07-07 20:16] apoorvedave1 opened #81 "Hyperspace Create Index Fails for csv if data is materialized before"
### Describe the issue
Probable root cause of https://github.com/dotnet/spark/issues/580
Hyperspace index with dataset (CSV) and fails during the creation if data is materialized just before create index

### To Reproduce

I could repro the issue only if I call df.show() before hs.createIndex(). If I don't call df.show(), it works fine and creates index without issue.
[code]
### Expected behavior

[2020-07-08 02:56] #81 closed

[2020-07-08 22:25] rapoth commented on #66
@pirz / @apoorvedave1 Can you folks add more details to this issue?

[2020-07-08 22:41] rapoth commented on #55
@pirz Could you clarify what this issue entails?

[2020-07-09 01:07] rapoth commented on #53
CC: sezruby

[2020-07-09 01:08] rapoth commented on #51
CC: sezruby

[2020-07-09 01:13] rapoth commented on #25
CC: @sezruby

[2020-07-15 06:18] #53 closed

[2020-07-16 17:59] shril commented on #74
Hi @rapoth, I would like to contribute to this issue.
Can I take this?

[2020-07-16 23:34] rapoth commented on #25
CC: @imback82

[2020-07-17 00:49] imback82 commented on #25
I think this should have been fixed by https://github.com/apache/spark/pull/26943 in Spark 3.0.

For the following:
[code]

Spark 2.4.5 outputs:
[code]

whereas Spark 3.0 prints:
[code]

[2020-07-17 01:06] imback82 commented on #23
`OR` would create `CartesianProduct`, so we don't need to handle this case, right?

[2020-07-17 01:36] pirz commented on #55
@rapoth I updated the description; plz take a look.

[2020-07-17 02:02] rapoth commented on #55
CC: @sezruby

[2020-07-17 02:10] rapoth commented on #25
Great thanks! I'm closing this issue.

[2020-07-17 02:10] #25 closed

[2020-07-17 02:40] imback82 opened #91 "Revisit logical plan serialization"
### Describe the issue

Hyperspace serializes the logical plan of a dataframe used for creating an index so that the plan can be reused for refreshing the index, etc. The current implementation uses kyro serializer to serialize a logical plan object: https://github.com/microsoft/hyperspace/blob/master/src/main/scala/com/microsoft/hyperspace/index/serde/LogicalPlanSerDeUtils.scala

However, this is

[2020-07-17 11:17] saucam commented on #56
Hi,

Let me give this a shot!

[2020-07-17 11:48] saucam commented on #56
Here is the PR, please review https://github.com/microsoft/hyperspace/pull/92

[2020-07-17 15:43] apoorvedave1 commented on #66
specifically for Join Rule and Filter rule, we need to add more logDebug messages to log intermediate states of the rules. If required, also add debug/trace logs for Actions.

[2020-07-18 01:28] imback82 commented on #25
@apoorvedave1 Can you confirm if this is not needed in the join rule? I see that we clean up the aliases, so matching should be ok, right?

[2020-07-18 14:16] saucam commented on #32
Is this still relevant? I could not find any test class extending IndexLogManager

[2020-07-20 19:17] rapoth commented on #74
Thanks for your interest! Please feel free to take it up, but note that this work depends on #36 (CC: @thrajput) so you might want to wait until that PR gets in (or alternatively, you can feel free to branch off from that PR).

[2020-07-20 19:29] shril commented on #74
@rapoth I'll start my work on this issue. And will raise a PR once #36 gets merged in.
I hope that works for you guys?

[2020-07-20 19:40] #51 closed

[2020-07-20 23:12] apoorvedave1 commented on #25
yes this looks like a solved issue now. Thanks for checking @imback82

[2020-07-21 00:22] AFFogarty commented on #79
Once #90 is completed, I'll open a PR with the C# version.

[2020-07-21 02:46] sezruby commented on #91
I'll take care of this issue.

[2020-07-21 03:33] imback82 commented on #91
Cool, thanks @sezruby!

[2020-07-21 14:28] sezruby commented on #91
@imback82  I think we can utilize or refer TreeNode.toJSON to create a JSON string for a logical plan.
A possible problem is that it serializes LogicalRelation (and maybe other types?) as NULL. ([TreeNode.scala](https://github.com/apache/spark/blob/8c7d6f9733751503f80d5a1b2463904dfefd6843/sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/trees/TreeNode.scala#L802))
What do you think about

[2020-07-21 16:46] imback82 commented on #91
The approach sounds good to me. Can you check the output of dbconnect for the relation?

[2020-07-21 18:34] imback82 commented on #32
This is the place: https://github.com/microsoft/hyperspace/blob/7f235ca5d1ab3f088ae901431eac4d736c27ed2f/src/test/scala/com/microsoft/hyperspace/index/IndexCollectionManagerTest.scala#L38

[2020-07-21 22:24] thrajput commented on #74
@shril sounds good. thanks.

[2020-07-22 02:55] sezruby commented on #55
@priz It seems Hyperspace configs from a config file (spark-default.conf or using --properties-file) works well.
Do you think any additional changes are required for the configs such as unit tests or validation of config values?

[2020-07-22 03:46] rapoth commented on #55
CC: @imback82

Thank you for validating this path! If it is already working fine, then I would not expect any other validation.

[2020-07-22 04:22] sezruby commented on #56
@apoorvedave1 I think we can close this issue now. Thanks @saucam!

[2020-07-22 04:46] imback82 commented on #56
Fixed by #92

[2020-07-22 04:46] #56 closed

[2020-07-23 01:05] sezruby commented on #91
@imback82 I tried to decrypt TLS packets but it didn't work. (databricks-connect cli & wireshark on OS X) Do you have any suggestions for it?
BTW I guess they might encrypt the content with the given access token and other parameters..

[2020-07-23 01:07] imback82 commented on #91
oh you should be able to just get it from the log. :) do you have a driver log you can share?

[2020-07-23 02:31] imback82 opened #95 "Revisit logical plan serialization"
### Describe the issue

Hyperspace serializes the logical plan of a dataframe used for creating an index so that the plan can be reused for refreshing the index, etc. The current implementation uses kyro serializer to serialize a logical plan object: https://github.com/microsoft/hyperspace/blob/master/src/main/scala/com/microsoft/hyperspace/index/serde/LogicalPlanSerDeUtils.scala

However, this is

[2020-07-23 02:32] imback82 commented on #95
Per @sezruby:

I think we can utilize or refer TreeNode.toJSON to create a JSON string for a logical plan.
A possible problem is that it serializes LogicalRelation (and maybe other types?) as NULL. (TreeNode.scala)
What do you think about this? I guess we need to define a new JSON serializer which also supports Relation and implement a deserializer for it.

Here's a simple output of the function(t

[2020-07-23 06:47] imback82 opened #96 "Update azure-pipeline to build C#/Scala example apps"
### Describe the issue

#90 and #94 introduced example apps, but the build pipeline was not updated.

The [azure-pipelines.yml](https://github.com/microsoft/hyperspace/blob/master/azure-pipelines.yml) needs to updated to make sure they compile.

[2020-07-23 21:48] pirz commented on #76
This issue is addressed by PR #77

[2020-07-24 18:43] #76 closed

[2020-07-27 01:59] sezruby commented on #95
@imback82  After some investigation, I think it’s a little bit difficult to support the serialization of complete `LogicalPlan` across spark versions seamlessly.

Here’s my analysis based on the current code base:
-  deserialized logical plan is used for
    - Refresh Action
    - IndexSummaryString
- Not used for signature calc
  - At `CreateActionBase`, `IndexLogEntry` keeps both `serialized pla

[2020-07-27 03:15] imback82 commented on #95
If we do not support, I think we should keep both Spark / Scala version since Spark 2.4 supports both Scala 2.11 and 2.12?
Also, if a logical plan is moved (from `a.b.c` to `x.y.c`) between patch versions (Spark 3.0.0 and 3.0.1), does this mean we cannot support refresh?

@rapoth should have more insight into this since he talked to few customers. So a simple question here is if a customer will ev

[2020-07-27 04:31] sezruby commented on #95
Yes, Scala version also should be helpful.

It might not just be moved, but could be removed. So I think class based deserialization is barely possible; we might have to reconstruct the plan with high level APIs somehow.

[2020-07-27 04:49] imback82 commented on #95
Yes, we need our own abstraction. Btw, we don't have to support every logical plan in the first iteration. We can just have minimum to get started (but a reasonable design to add new logical plans easily).

[2020-07-27 17:26] rapoth commented on #95
I think ultimately we would need an intermediate representation. With Spark evolving so fast, I think it is unreasonable for us to tie the index to a specific Spark version due to the costs involved in creating the index - if we tell users to rebuild the index if they upgrade Spark version, it may not be a good user experience. Also, the bigger question is: *how will they rebuild?* Do we expect th

[2020-07-29 14:15] sezruby opened #98 "KryoSerializer is not compatible with the different versions of Spark"
### Describe the issue
KryoSerializer is not fully compatible with the different versions of Spark. It's used to serialize/deserialize the logical plan of Index to support `refresh` operation. This problem will be addressed more generally with #95.
For now, we should replace the ser/de implementation based on the current limitation - Covering Index on LogicalRelation/HadoopFsRelation.

### To Repr

[2020-08-02 16:51] #98 closed

[2020-08-04 02:42] #27 closed

[2020-08-04 19:32] pirz opened #103 "Add full list of index files to index log entry"
### Describe the issue
Currently, as part of index metadata we store the root path of index files which the path to the directory containing index files in index log entry. Check [here](https://github.com/microsoft/hyperspace/blob/master/src/main/scala/com/microsoft/hyperspace/actions/CreateActionBase.scala#L81).

We need to change it and store full list of all index files in the Metadata.

### To

[2020-08-04 19:43] pirz opened #104 "Add lineage to covering index records"
### Describe the issue
For each index record, add _lineage_ to capture the data record it is coming from. Assume data records are organized in Hive partitioned manner, where all the records which have the same value for a given partitioning key are stored in files under the same directory whose name has `PartitionKey=VALUE`. By adding lineage to index records, we want to add extra columns to each

[2020-08-04 19:51] pirz opened #105 "Add support for deletes in RefreshIndex for incremental mode"
### Describe the issue
Once some files or partitions are removed from source data, fix the index and remove corresponding index records from the index. This action is triggered by calling `refreshIndex` API.

**Overview.**
Using index metadata, we find which data files are removed.
Using lineage in index, we can find index records which were generated from removed files' data records. We re-genera

[2020-08-04 20:32] SynapsePOC opened #106 "Please help to locate "parent" functional description of indexes for Microsoft Azure Synapse Spark Analytics"
### Describe the issue
It would be very nice if you provide some reference point, where I could learn, how similar or same indexing functionality is provided in Microsoft Azure Synapse Spark Analytics
As per this document: [Hyperspace, an indexing subsystem for Apache Spark™, is now open source](https://cloudblogs.microsoft.com/opensource/2020/06/30/hyperspace-indexing-subsystem-apache-spark-now-o

[2020-08-05 00:49] rapoth commented on #106
Thank you for your question! At the moment, the functionality is the same. Hyperspace in Azure Synapse Analytics has some additional work (mostly optimizations and some catalog integration) that we are working on open-sourcing in the next few weeks. From a performance standpoint, our goal is to port all our optimizations to the open-source Hyperspace.

[2020-08-05 00:51] apoorvedave1 opened #107 "Store index file names and file sizes in operation log"
### Describe the issue

Upcoming features require all index files to be present in the index metadata. Also, file sizes of individual files is required. A sample of this could be:
[code]
### To Reproduce

Enhancement
### Expected behavior
Index creation / modification adds list of created index files to the operation log along with their file size

### Environment

na

[2020-08-05 00:59] apoorvedave1 opened #108 "Investigate using partition columns as indexed columns in index"
### Describe the issue

Can we simulate partition like behavior on indexes using partition columns (from original data) as the first index column.

Can we simulate partition pruning using such "partitioned Indexes"

### To Reproduce

na
### Expected behavior

na
### Environment

na

[2020-08-05 01:03] apoorvedave1 opened #109 "Enhance metadata to simulate partition pruning/min-max pruning of indexes"
### Describe the issue

Depends on #108
Investigate options to enhance index metadata to support simulated partition pruning on the index files

### To Reproduce

na

### Expected behavior

na
### Environment

na

[2020-08-05 01:08] apoorvedave1 opened #110 "Add RefreshIncrementalAction class to support index creation on newly appended data"
### Describe the issue

Implement incremental indexing support for append-only data. Implementation outline:
- identify newly added data files
- create new index version on these files
- update metadata to reflect the latest snapshot of index to include old files and new files

New Api: `refresh(mode = quick)`
### To Reproduce
na

### Expected behavior
na

### Environment
na

[2020-08-05 01:14] apoorvedave1 opened #111 "Quick Optimize support for append-only data"
### Describe the issue

Append-only = data is only appended with new data, and never deleted or updated
Depends on #110

After many appends and `refresh` calls, there will be many small index files per bucket. Implement a `optimize(mode = "quick")` routine which compacts large number of small index files into larger buckets, reducing the number of index files and improving perf.

### Outline:
- Id

[2020-08-05 01:21] apoorvedave1 opened #112 "Implement smart refresh indexes of append-only data"
### Describe the issue

Implement `refresh(mode = "smart")` of refresh of incremental data. The smart mode does a combination of #110 and #111 in a single step when the user calls the above api.
It uses the new unindexed data along with the small files from previous index snapshot to create a new index version.

Thanks @sezruby for suggesting this.
### To Reproduce

### Expected behavior

### Envi

[2020-08-06 09:47] sezruby commented on #110
I think `file size` and `modification time` for each file are also required to ensure that the files are not modified. Currently we identify this with the signature value, but supporting append data (+ hybrid scan) needs to check if the existing index can cover the subset of dataset or not.

[2020-08-06 18:57] thrajput commented on #74
@shril python bindings is merged. You can make a PR for python notebook.

[2020-08-06 21:48] imback82 commented on #107
is this similar to #103? cc @pirz

[2020-08-06 21:59] apoorvedave1 commented on #107
yeah that's right. Only this one also mentions sizes which will be used in optimizations

[2020-08-06 22:10] imback82 commented on #107
Then, can we merge into one issue so it's easier to track?

[2020-08-06 23:02] pirz commented on #107
Yes they are the same, we can go with this one that @apoorvedave1 has created and close #103

[2020-08-07 01:04] sezruby opened #118 "[PROPOSAL]: deleteOldVersions API"
**Describe the problem**
After refreshing an index,  the old version of the index remains on the storage. We should keep the old versions to support consistency & isolation of index data, but at some point in time, they're no longer needed.
So it would be good if there's an API to clean up the old versions.

**Describe your proposed solution**

API design
[code]

**Describe alternatives you've con

[2020-08-07 02:02] sezruby opened #119 "SparkSQL based index creation"
**Describe the problem**
#95 addressed the serialization / deserialization of DataFrame for refresh index.
It seems we need some intermediate representation for the source DataFrame to support Spark/Scala version compatibility which is not guaranteed by available serializers in Spark - KryoSerializer or JavaSerializer.
Since design & implementation of IR might take some time, it would be good to i

[2020-08-07 04:17] sezruby opened #120 "Capture source file info to detect the change of the dataset"
**Describe the problem**

As we are extending the features like dataset with append or delete, it's required to detect the change of the source files to figure out which files are appended or deleted. This could be done only with the list of file paths, but we need additional information to check the integrity of the dataset. We can calculate a new signature only with the files in the captured fil

[2020-08-07 04:23] sezruby commented on #120
@pirz please review this because dataset w/ delete might require this feature. Thanks!

[2020-08-11 21:35] pirz commented on #120
This looks good to me, I am just assuming the file path is really the file name and the full path to a file is the `directory path + file name`. Does that make sense?

[2020-08-12 07:25] sezruby commented on #120
That makes sense, but with `directory path`, file path can still include sub directory e.g `directory path` + `/a/b/fileName.parquet`. And the current ver. doesn't capture "path" of the source directory, but "rootPaths".

For this validation purpose, I think we don't need to factor out the directories for the source file paths. The structure of source directories might be more complex than index d

[2020-08-14 05:51] imback82 commented on #120
I think this is just one way of saving the metadata file size, and shouldn't affect the correctness.

[2020-08-14 19:36] apoorvedave1 commented on #120
thanks @sezruby , I have added the changes to the pr #122 suggested in this issue.

[2020-08-14 21:34] apoorvedave1 opened #125 "Support case-insensitivity in Join Index Rule V2"
### Describe the issue

Currently JoinIndexRuleV2 is written without consideration of case-sensitivity in mind. Update code to support case-(in)sensitivity
### To Reproduce

### Expected behavior

### Environment

[2020-08-14 21:35] apoorvedave1 commented on #125
can we take it in a separate PR? cc @imback82

[2020-08-14 21:40] imback82 commented on #125
Sure.

[2020-08-14 23:59] imback82 opened #126 "The root paths captured in index log entry should always be absolute paths"
### Describe the issue

The `root` path for the index is sometimes recorded as a relative path:
[code]
This needs to be fixed to always contain absolute paths (or URIs).

### To Reproduce

Run any e2e tests and look at the generated index metadata.

### Expected behavior

`root` should be a absolute path.

[2020-08-18 18:56] #120 closed

[2020-08-18 23:24] #107 closed

[2020-08-18 23:25] #103 closed

[2020-08-19 22:00] AFFogarty commented on #79
@pirz Should we close this issue now?

[2020-08-19 22:02] imback82 commented on #79
Closed by #94

[2020-08-19 22:02] #79 closed

[2020-08-19 23:05] #126 closed

[2020-08-20 15:55] SynapsePOC opened #130 "[FEATURE REQUEST]: It would be very nice to use index when underlying table is applied with CACHE TABLE"
Consider this script:

[code]

The last explain produces plan as following:

[code]

In my mind this is truly reduces index usage scenario set. It would be very nice if caching table actually promoted index use, at the moment caching index actually turns index use off.
I think one of the issues logged already, can help to address it
https://github.com/microsoft/hyperspace/issues/30
but I would lik

[2020-08-20 21:03] #74 closed

[2020-08-20 23:17] #55 closed

[2020-08-21 23:32] pirz opened #133 "Remove deleted records during refresh"
### Describe the issue
Add support for below scenario:

1. User creates an index on top of some data. The data can be partitioned or non-partitioned.
2. User removes some files and/or full partitions of data. (This makes the index unusable as it no longer captures the latest status of source data).
3. User calls `refreshIndex` API to fix the index and brings it back to active usable state.

During

[2020-08-21 23:46] pirz opened #134 "Add support for deletes in RefreshIndex for quick mode"
### Describe the issue
This is the parent issue to track the work of adding support for delete in quick mode.

**User Scenario.**
1. User has a dataset
2. User uses Hyperspace to create an index
3. User deletes an existing partition OR removes files from an existing partition
4. **Metadata Update:** User calls refresh index API in quick mode to update Index Metadata
5. **Enforce Delete during read

[2020-08-21 23:58] pirz opened #135 "Enable Hyperspace for append-only datasets with Delete"
### Describe the issue
This is the top-most parent issue to track adding support for delete in two index refresh modes: Incremental and Quick.

Assume user creates an index on some data files which can be partitioned or non-partitioned. Later user removes some data files or full partitions of data. This makes index unusable as it no longer captures the latest state of data.
Using RefreshIndex API,

[2020-08-23 21:14] #104 closed

[2020-08-24 02:33] apoorvedave1 opened #136 "Incremental Index Maintenance for File/Partition Mutable Datasets"
Please use the template below (default for Proposal Issues)

**Describe the problem**
Support for Index Maintenance for mutable datasets.

Mutable data comprises of appended data (new data added to existing data) and deleted data (files or partitions removed from existing data).

Problem: How do we keep the index up to date with updated data (either appended or deleted or both)?

**Describe your p

[2020-08-24 23:58] SynapsePOC commented on #130
+ Prasad

From: Terry Kim <notifications@github.com>
Sent: Saturday, August 22, 2020 12:45 PM
To: microsoft/hyperspace <hyperspace@noreply.github.com>
Cc: Miron Berlin (People Tech Group) <v-bemiro@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [microsoft/hyperspace] [PROPOSAL]: It would be very nice to use index when underlying table is applied with CACHE TABLE (#130)

Thanks @

[2020-08-25 16:08] imback82 opened #137 "[PROPOSAL]: Support HashAggregate"
**Describe the problem**
Currently, Hyperspace does not consider `HashAggregate` when applying the indexes. Since `HashAggregate` also uses the same bucketing as the Hyperspace covering indexes, this can help eliminating shuffles.

**Describe your proposed solution**
Create a rule similar to `JoinIndexRule`.

**Describe alternatives you've considered**
n/a

**Additional context**
`Exchange` below

[2020-08-25 16:24] pirz commented on #137
@imback82 I guess it is a duplicate of Issue #54 , already opened by @apoorvedave1

[2020-08-25 16:32] imback82 commented on #137
Ah Thanks! Closing this

[2020-08-25 16:32] #137 closed

[2020-09-01 21:16] apoorvedave1 opened #141 "Index location listed in explain output needs upgrade after tree structure impl."
### Describe the issue

With the changes brought in by #139 , the metadata stores paths in the form of directory and file tree structure.
To support these changes, we need to decide how the explain api will display the index location of indexes used:

From [this comment](https://github.com/microsoft/hyperspace/pull/139/files#r478821445)
[code]

Before this PR, `location.rootPaths.head` points to t

[2020-09-02 23:57] pirz opened #143 "Refresh index does not add updated list of index files to Content in new index log entry"
### Describe the issue
Once an index refresh is done successfully, latest stable log is updated to include latest index content. This should include the latest list of index files; however currently `files[]` in index content is left empty after a refresh.

### To Reproduce
1. User creates an index and as part of index log entry, hyperspace adds list of created index files:

[code]

2. User makes

[2020-09-03 07:36] sezruby opened #145 "Improvement of HybridScan for FilterIndexRule"
### Describe the issue

In #123, FilterIndexRule with HybridScan provides 2 methods depends on the file format of source data relation
  - For Parquet, we could just add the list of appended file paths to the FileScan node for index data.
[code]
  - Other than Parquet, we cannot simply read the data along with index data files in Parquet format with 1 FileScan node. In this case, we need to read &

[2020-09-03 08:52] sezruby opened #146 "[FEATURE REQUEST]: Enhancement of Index statistics"
### Describe the issue

It would be good to have more detailed statistics about available indexes. This can be done by
- create new APIs such as
  - `hs.getIndexStat()` for all indexes and `hs.getIndexStat(index)` for an index
- extend IndexSummary class (hs.indexes)
  - IndexSummary (current)
    - Index name
    - indexed columns
    - included columns
    - number of buckets
    - index schema

[2020-09-03 17:26] #143 closed

[2020-09-05 13:55] SynapsePOC opened #147 "Trying to implement partitioning of covered index to see partition filter in the plan, looking for suggestions"
### Describe the issue
Our dataset is in billions of rows. Partitioning is essential.
To retrieve physical rows we use forEachPartition, and fetch rows via REST call to row receptacle during row scan, without returning row to driver, using node / executor to scale the architecture.
We are looking for a way to ensure filtering of partitions to minimize number of partitions accessed by forEachPartit

[2020-09-05 23:25] SynapsePOC commented on #147
I may have run over a step with my note.
I have re - red roadmap document ( just to re - check and realign with project pace ) and it looks like what I have requested is a step and a half ahead  :)
![image](https://user-images.githubusercontent.com/68668016/92314989-57797f80-ef94-11ea-93c7-176c68552bda.png)
If this is the case, please close or postpone as appropriate.
Thank you!

[2020-09-08 13:18] sezruby opened #148 "Hyperspace Index on Delta Lake"
### Describe the issue

Support Hyperspace Index on Delta Lake Table
https://delta.io/

#### Retrieve source file list from Relation
* [TahoeFileIndex.scala](https://github.com/delta-io/delta/blob/master/src/main/scala/org/apache/spark/sql/delta/files/TahoeFileIndex.scala)
* TahoeFileIndex provides `def inputFiles` API; we could use the API as it handles all version & delta log related things.
[co

[2020-09-09 01:58] apoorvedave1 commented on #147
Thanks @SynapsePOC , You are correct here, we are working on exploring ways to partition indexes to mirror the data partitioning. Currently the index is not partitioned with hive-partitioning schemes and there are no apis to support it. We have opened #108 for investigating this issue. Thanks again.

[2020-09-09 01:58] #147 closed

[2020-09-10 20:26] pirz opened #149 "Merge incremental mode append and delete actions into index refresh"
### Describe the issue
Adding support for enforcing append and delete during index refresh (i.e. "incremental" mode) is being done thru two parallel PRs:

- Enforce delete during refresh - Issue #105
- Implement incremental refresh indexes of append-only data - Issue #112

In order to make these PRs move forward with least conflicts, we decided to follow below steps:

- [x] **Step 1.** Do not make

[2020-09-10 23:35] pirz commented on #149
CC @imback82 and @sezruby - FYI & please leave comments if anything needs to be changed

[2020-09-11 01:22] sezruby opened #150 "Hybrid Scan for File/Partition Mutable Datasets"
**Describe the problem**

After the original dataset got appended new files/partitions and/or some files/partitions got deleted, the index cannot be used until a user calls refresh API.

**Describe your proposed solution**

Hybrid Scan is introduced to support these dataset seamlessly and also avoid frequent refreshment of indexes. This feature allows to utilize the outdated index by analyzing the

[2020-09-12 00:40] rapoth commented on #136
@apoorvedave1 Could you please explain why `incremental = "true"` is needed in the API? Can we do away with just the `mode` parameter? Thank you!

[2020-09-12 00:42] rapoth commented on #136
@apoorvedave1 @pirz @sezruby @imback82 Let us use this as the uber-issue to track all the work related to getting this work.

@apoorvedave1 Can you kindly coordinate with everyone and update the description to capture all issues related to this?

[2020-09-12 00:57] rapoth commented on #150
@sezruby Let's use this as the uber-issue for the hybrid scan work. I have created an initial design doc here: https://github.com/microsoft/hyperspace/pull/155

Let us update your issue to reflect the full work needed to get this work finished. Thank you!

[2020-09-12 01:38] rapoth opened #157 "[PROPOSAL]: Guide for Introducing a new Hyperspace Index"
**Describe the problem**
Adding a new index type into Hyperspace is currently undocumented. A developer interested in contributing will have to reverse engineer and figure out how to do this. In addition to the covering index that Hyperspace supports today, there are many other indexes that are highly beneficial for users.

**Describe your proposed solution**
A document (not necessarily a design d

[2020-09-12 01:38] rapoth commented on #157
@apoorvedave1 @pirz @imback82 If there is anything else that needs to be covered, let's discuss it here.

[2020-09-12 03:43] imback82 commented on #157
Overall it seems fine, but I would experiment adding one ourselves first before publishing this doc since the internal hooks are still evolving.

Btw, I think we need to add the spec for index metadata first?

[2020-09-14 01:34] sezruby opened #158 "Add plan signature validation for Hybrid scan"
### Describe the issue

Currently, Hyperspace only supports creating indexes on a logical relation node. In order to support arbitrary logical plans, plan signature comparison is required for getting candidate indexes. This work is done by #76.
In case of hybrid scan, we cannot utilize the "index" signature value in IndexLogEntry which is a composite of FileBasedSignature + PlanSignature, because

[2020-09-14 02:05] sezruby opened #159 "[FEATURE REQUEST]: Introduce a similarity threshold for Hybrid Scan"
**Feature requested**

As a developer, I want to introduce some similarity threshold about dataset for hybrid scan in order to avoid performance regression.

Currently, Hybrid scan considers an index as a candidate if an input relation includes one or more same source files of the index. However, in case the "diff" dataset is much larger than the common dataset, shuffling overhead for the "diff" d

[2020-09-14 02:29] sezruby opened #160 "Optimization of index selection process"
### Describe the issue

Currently, this `getCandidateIndex` function is done first among the index selection & application like the following:
1) getCandidateIndex - get list of indexes whose source files match with the input relation
2) column schema check - all indexed columns & all required columns (using resolver)
3) other conditions (for join)
4) rank algorithm

However, getCandidateIndex cou

[2020-09-14 05:44] sezruby opened #161 "[PROPOSAL]: Introduce BloomFilter index"
**This is WIP, but please feel free to add any comment on this 😃**

Support BloomFilter index utilizing Spark's feature (https://spark.apache.org/docs/latest/api/java/org/apache/spark/util/sketch/BloomFilter.html)

**This is the second type of index in Hyperspace, so it may require additional works on the overall codebase to support different types of indexes. For example, getCandidateIndex needs

[2020-09-14 05:49] sezruby commented on #157
I'll update the document when I go through #161.
Thanks!

[2020-09-14 16:14] rapoth commented on #159
Out of curiosity, in case of issues like this, does it make sense to provide `To Reproduce` and `Expected behavior`?

[2020-09-15 00:00] #75 closed

[2020-09-15 00:06] apoorvedave1 commented on #23
I think we can close this issue since we are not supporting it, and bucketing doesn't support it either.

[2020-09-15 00:06] #23 closed

[2020-09-15 00:34] apoorvedave1 commented on #60
duplicate of #111

[2020-09-15 00:34] #60 closed

[2020-09-15 00:56] sezruby commented on #30
Sorry I didn't know this issue already exists. Let's duplicate this with #150 and work with it. Thanks!

[2020-09-15 01:01] rapoth commented on #30
Good catch! I will close this issue since it is a duplicate (@apoorvedave1 - Please feel free to reopen if you disagree). Thank you!

[2020-09-15 01:01] #30 closed

[2020-09-15 02:09] rapoth commented on #136
@pirz @apoorvedave1 There are multiple issues currently: #133 #105 #149 Can we do the following?

Let us update this issue to it capture the entire work e2e. Have an issue for the individual lines. At the moment, this issue only covers append-only but I think it's better to make this the uber issue to capture appends and deletes (to reflect the title).

Once we are done with this, we can close som

[2020-09-15 11:42] sezruby commented on #159
I think this is more like "User story" in JIRA, not bug or issue report. As this project does not have JIRA-like thing, it would be good to have a new template(and tag) here for relatively small features or tasks for tacking development.

[2020-09-15 23:33] rapoth commented on #159
Good point. I created a [new template for feature request](https://github.com/microsoft/hyperspace/issues/new?assignees=&labels=untriaged%2C+enhancement&template=feature-request-template.md&title=%5BFEATURE+REQUEST%5D%3A+). If you agree, can you change this issue to follow that template?

[2020-09-16 09:31] sezruby commented on #159
Thanks @rapoth :) I updated the document.

[2020-09-17 00:36] rapoth commented on #136
@pirz @apoorvedave1 Thanks for updating the issue! Can we close anything that's no longer relevant?

[2020-09-17 05:38] sezruby opened #167 "Rules are not applied after hs.explain"
### Describe the issue

FilterRule / JoinRule are not applied after calling hs.explain API.

I added `println("Filter rule applied")` in FilterIndexRule.apply function and tested it as follow:

[code]

### To Reproduce

See above log.

### Expected behavior

The query should be executed with the indexes if hyperspace is enabled.

### Environment
 - OS: Windows
 - IDE: n/a
 - Apache Spark Version:

[2020-09-17 05:43] sezruby commented on #167
It seems after building the plan, the optimizer is not called every query time.. Let me just close this issue as invalid.

[2020-09-17 05:43] #167 closed

[2020-09-19 02:37] pirz opened #169 "Add index metadata update in RefreshIndex for quick mode"
### Describe the issue
This issue tracks the work for adding index metadata update action in RefreshIndex quick mode.
Index metadata update action is invoked by user thru calling RefreshIndex API with `mode = "quick"`.
Index metadata update, modifies `IndexLogEntry` by:

1. Collecting list of appended and deleted source data files from last version of index and updating `appendedFiles` and `delete

[2020-09-21 17:43] mpr1 opened #172 "[FEATURE REQUEST]: Creating indexes on EMR cluster is failing"
Requesting  feature,  support of AWS - EMRFS based filesystem spark cluster
creating indexes on EMR - EMRFS spark cluster failing with error : "HyperspaceException: Only creating index over HDFS file based scan nodes is supported."

[2020-09-23 02:11] imback82 commented on #172
@mpr1 Can you share the repro step? It seems that you didn't create a DataFrame from files, but I wanted to double-check.

[2020-09-23 21:01] pirz opened #174 "Modify Hyperspace rules to leverage an index with deleted source data files after RefreshIndex in quick mode"
### Describe the issue
Currently an index with non-empty `deletedFiles` or `appendedFiles` is ignored during optimization.
We need to extend optimizer rules to consider and leverage such indexes. For deletedFiles, the rule needs to inject a filter on top of index scan node to enforce delete by excluding index entries coming from deleted source data files.

**User Scenario.**
1. User creates an ind

[2020-09-26 10:05] sezruby commented on #145
Fixed by #165

[2020-09-26 10:05] #145 closed

[2020-10-01 22:34] apoorvedave1 commented on #133
#142 fixes this

[2020-10-01 22:34] #133 closed

[2020-10-02 05:00] pirz opened #179 "RefreshDelete should update appended files list in metadata"
### Describe the issue
Currently, when refresh for handling delete case (merged by PR #142 ) fixes index files by removing deleted entries, it updates index signature according to latest source data but does not update `appended` files list.
This can cause correctness issue in a case where source data files have both deleted and appended files, as the index does not fully cover the data (it does n

[2020-10-05 06:55] mayurdb opened #180 "HyperSpace bucketing doubt"
Hi, I could not find the mailing list so asking the doubt I have here.

Based on my understanding, HyperSpace will remove the Exchange and a Sort if it finds a corresponding index. But while doing a write to bucketed table, spark will write multiple files per bucket (so potentially there can be n (number of buckets) x p (number of partitions) files). So even though each of the file within the buck

[2020-10-05 15:23] imback82 commented on #180
@mayurdb Hyperspace currently writes one file per bucket when you create an index, so `Sort` will be removed. There is an ongoing work that could introduce multiple files per bucket (e.g., incremental refresh), but in this case, `Sort` will _not_ be removed.

[2020-10-05 15:51] imback82 opened #181 "[FEATURE REQUEST]: Minor clean ups in IndexLogEntry"
`IndexLogEntry` exposes helper methods to provide aliases to members, but some of them do computations (e.g., `schema` and `hasLineageColumn`. They can be marked as `lazy val` with `@JsonIgnore`

Also, `hasLineageColumn` doesn't need to check the case, thus can be simplified.

[2020-10-05 19:31] apoorvedave1 opened #182 "Improve RefreshIncremental logic to take last modified time of files and file size into account."
### Describe the issue

RefreshIncremental logic doesn't take into account file size and timestamp for comparing files. Improve this logic to take last modified time of files into account when identifying new and deleted files.

https://github.com/microsoft/hyperspace/pull/163/files#r489531958

### To Reproduce

### Expected behavior

### Environment

[2020-10-06 11:08] mayurdb commented on #180
Oh okay. Can you please point me to the code where we add an exchange and a sort to ensure single sorted file per bucket or this happens as part of the code below internally?

`    def saveWithBuckets(
        df: DataFrame,
        path: String,
        numBuckets: Int,
        bucketByColNames: Seq[String]): Unit = {
      require(numBuckets > 0, "The number of buckets must be a positive integer

[2020-10-06 17:09] imback82 commented on #180
I am a bit confused by your question. Are  you interested in where `Exchange` / `Sort` is added? You can check https://github.com/apache/spark/blob/master/sql/core/src/main/scala/org/apache/spark/sql/execution/exchange/EnsureRequirements.scala and https://github.com/apache/spark/blob/master/sql/core/src/main/scala/org/apache/spark/sql/execution/DataSourceScanExec.scala#L273

[2020-10-06 17:28] mayurdb commented on #180
My bad I should have been more detailed.

In `org.apache.spark.sql.execution.datasources.FileFormatWriter#write`, one file will be written per partition (assuming each partition has at least one row belonging to each bucket). There might be a gap in my understanding here, so please do point out if that's not the case.

So I was thinking if HyperSpace is ensuring one file per bucket, it must be add

[2020-10-07 00:50] apoorvedave1 opened #183 "RefreshAppend should update appended/deleted files list in metadata"
### Describe the issue

Prerequisite PR: PR #170
(PR #170 updates IndexLogEntry and adds appended property to source properties).

The above mentioned PR will introduce `appended` and `deleted` list of files in metadata. The current `RefreshAppendAction`, as per this ongoing PR #163 , does not take into account these metadata values yet. Make sure to update these values as required:

1. clean up `

[2020-10-07 03:27] sezruby opened #184 "[FEATURE REQUEST]: Hybrid scan - performance validation & optimization for delete dataset"
**Feature requested**

#171 enables to utilize Hybrid scan with delete dataset as well as append dataset.
However, the feature still requires some validation and optimization before GA.
So I created the temporary config below to make it switchable until then.

[code]

This issue is for tracking this config.

**Acceptance criteria**

**Success criteria**

- [x] delete-only dataset TPCH
- [x] delete

[2020-10-07 03:54] #110 closed

[2020-10-07 05:27] sezruby opened #185 "Use TreeNodeTag for index plan identifier in Spark 3.0"
**Feature requested**

#178 introduces an identifier for plans which is already modified to apply an index.
The identifier is stored in `options` of `HadoopFsRelation` which is ad hoc approach.

Spark 3.0 provides `TreeNodeTag` feature to keep some values for each plan node.
Therefore, we could utilize the tag for the identifier.

ref) https://github.com/apache/spark/blob/branch-3.0/sql/catalyst/s

[2020-10-07 08:28] sezruby opened #186 "Index view support"
**Describe the problem**
Currently, Hyperspace only allows to create an index on a relation node.
To move forward, we could support Index view which means index creation on an arbitrary logical plan.

Things to consider
-  represent the source plan in index log entry file & re-generate the plan for refresh
  - class level serialization/deserialization is not compatible across different Spark versi

[2020-10-07 23:05] apoorvedave1 commented on #29
closed by #163

[2020-10-07 23:05] #29 closed

[2020-10-08 04:58] apoorvedave1 opened #190 "Full refresh should check -no data change- and abort instead of doing full refresh"
I think it would be good to check the condition - no data change - for "full" refresh mode?
It doesn't need to be handled with this PR, but it seems necessary.

_Originally posted by @sezruby in https://github.com/microsoft/hyperspace/pull/189#issuecomment-705325520_

[2020-10-09 23:31] apoorvedave1 opened #193 "Hyperspace should not pick indexes if hybrid scan is disabled and "appendedFiles" or "deletedFiles" in metadata is non-empty"
### Describe the issue

Thanks @pirz for collaborating in identifying this issue and coming up with example scenarios

With hybrid scan disabled:
If the metadata contains some non-empty `appendedFiles` or `deletedFiles`, it is possible that based on current version of the code, the signature matches for the latest version of the index. Hyperspace will wrongly pick this index without regards to the

[2020-10-10 02:20] apoorvedave1 opened #195 "More unit tests required for checking "appended" and "deleted" files in index metadata"
### Describe the issue

After PR #191 goes in, the index metadata will contain "deletedFiles" and "appendedFiles". Add unit tests for these scenarios:

Test 1:
1. Source data, create index.
2. delete some files. Update METADATA ONLY (maybe through refreshIndex(mode = "quick") to update "deletedFiles"
2. delete some more files. This time do not update the metadata.
3. call "refreshIndex(mode = "inc

[2020-10-10 04:02] #179 closed

[2020-10-10 04:33] apoorvedave1 commented on #183
closed by #191

[2020-10-10 04:33] #183 closed

[2020-10-10 05:57] imback82 commented on #180
Oh, you are referring to the write path, sorry I misunderstood you question. You can check here: https://github.com/microsoft/hyperspace/blob/master/src/main/scala/com/microsoft/hyperspace/actions/CreateActionBase.scala#L131

Basically if you do `repartition` followed by `bucketBy` with the same number of partitions, Spark will ensure that you will have one file per bucket. Note that we don't call

[2020-10-10 07:33] #193 closed

[2020-10-10 20:17] apoorvedave1 opened #196 "Refresh index should pick bucket num and lineage column configs from previous entry instead of session config"
### Describe the issue

https://github.com/microsoft/hyperspace/blob/master/src/main/scala/com/microsoft/hyperspace/actions/RefreshAction.scala#L40-L42

https://github.com/microsoft/hyperspace/blob/master/src/main/scala/com/microsoft/hyperspace/actions/RefreshAppendAction.scala#L44-L48

This is a known issue that currently Refresh modes "full" and "incremental" pick values for `num-buckets` and `l

[2020-10-12 04:27] sezruby opened #198 "Revisit index metadata for mutable dataset"
### Describe the issue

This issue is for the discussion started in https://github.com/microsoft/hyperspace/pull/194#discussion_r502736181

We are currently proposing the features for mutable dataset, and introduced `appendedFiles` and `deletedFiles` for new refresh modes - `incremental`, `quick` (planned).
[code]

The current master is based on "mixed" semantic approach for `source.Content` in In

[2020-10-12 07:40] sezruby opened #200 "Numeric id-based lineage column"
**Feature requested**

Currently, the lineage column in index data contains the full path of each source file, in String type.
This is an initial approach for the lineage column to support "delete" dataset.

There are some disadvantages for this approach:
- storage bloat
- high memory footprint when reading the index data
- high comparison cost - string comparison

though,
- easy to maintain
- can

[2020-10-12 12:44] sezruby opened #201 "Hybrid scan for deleted files using Broadcast join"
**Feature requested**

Currently, Hybrid scan handles the deleted files by using `Filter(Not(In(LineageColumn, deletedFiles)))`
However, In case there are many deleted files, severe performance would be expected.
For example, N deleted files,
- **N** **string comparison** occurs for each row in index data.
- #200 can relax the regression, but not resolve the problem; there still N iteration for ea

[2020-10-12 17:59] apoorvedave1 opened #203 "Update the Python binding for new refresh and optimize APIs"
Can you or @thrajput also update the Python binding?

@AFFogarty can help on the C# side once 0.3 is released. (I will ping you @AFFogarty 😄 when it's ready)

_Originally posted by @imback82 in https://github.com/microsoft/hyperspace/pull/187#issuecomment-706868422_

[2020-10-12 23:04] apoorvedave1 opened #204 "Support no-op in case of optimize if only 1 "optimizable" file per bucket"
### Describe the issue

A small optimization in `optimize` api could be to ONLY run optimize for those buckets where number of small files per bucket is > 1
### To Reproduce

### Expected behavior

### Environment

[2020-10-13 02:51] sezruby commented on #201
@imback82 @rapoth Could you simply comment why this is not feasible?

[2020-10-13 03:51] imback82 commented on #201
If we can also enforce using broadcast join (not affected by config set by user), it should work for BHJ.

But, shall we get some perf numbers using left anti join vs. filter push down to evaluate before moving further?

[2020-10-13 05:16] #196 closed

[2020-10-13 06:26] sezruby opened #206 "Check existence of all index data files before use"
### Describe the issue

Currently, we replace the location with the index data files:

[code]

However, this cannot detect the absence of some index data files, which might cause unnoticeable correctness issue.
So we need to check the existence of each index data files for data integrity.

We recently introduced the incremental index for appended files, so we need to make sure that some dependent

[2020-10-13 17:35] imback82 commented on #203
We need Python binding for optimize as well: #166

[2020-10-14 01:30] pirz commented on #149
Closed by PR #187

[2020-10-14 01:30] #149 closed

[2020-10-14 01:32] pirz commented on #105
Feature complete - All children issues are closed by corresponding PRs.

[2020-10-14 01:32] #105 closed

[2020-10-14 02:48] #111 closed

[2020-10-14 15:56] #203 closed

[2020-10-14 17:12] imback82 opened #210 "appendedFiles / deletedFiles in IndexLogEntry can be stored as Seq[FileInfo] instead of Seq[String]"
Does it make sense to update `appendedFiles` / `deletedFiles` to be `Seq[FileInfo]` in index log entry for completeness (esp. if someone is reading the index log entry)?

_Originally posted by @imback82 in https://github.com/microsoft/hyperspace/pull/207#issuecomment-707868254_

[2020-10-14 17:14] imback82 opened #211 "Dedupe appendedFiles / deletedFiles in RefreshActionBase.scala"
I think we now need to dedupe now that we are considering size, etc. If we move to `FileInfo`, it will be most likely OK. Same applies `appendedFiles`

_Originally posted by @imback82 in https://github.com/microsoft/hyperspace/pull/207#discussion_r504830903_

[2020-10-14 17:44] #182 closed

[2020-10-15 12:39] sezruby commented on #201
We could use "hint" to enforce broadcast join - see below log.
BTW BHJ only supports equi-join, so we need to run the query non-deleted file list.
I'll try to run both BHJ with equi-join and BNLJ with non-equi-join for performance validation.

[code]

[2020-10-16 20:22] #211 closed

[2020-10-20 01:08] pirz opened #220 "[PROPOSAL]: Numeric id-based lineage implementation"
## Describe the problem
This design proposal is for fixing issue #200

Lineage column in a Hyperspace index tracks the origin of each index entry. This is required to support "delete" during index refresh and HybridScan. Currently, this origin is captured through storing full path to the source data file for each index record.

The data type for the lineage column is `String` which could cause a f

[2020-10-21 00:15] sezruby commented on #220
What about the column name? Should we change the name or no? (`_data_file_id`?)

[2020-10-21 04:35] sezruby opened #222 "Introduce auxiliary data structure for applying rules"
**Feature requested**

In order to optimize rule application process, we need to introduce some auxiliary data structure to share some information, so that we could avoid unnecessary recalculations and share some context to other parts of the rule application.

We could think about 2 types of data structure (i.e. cache):
1) data structure cannot be shared for all rules; it's only available within

[2020-10-21 08:33] sezruby commented on #160
Let's handle this with #222.

[2020-10-21 08:33] #160 closed

[2020-10-22 01:43] imback82 commented on #198
+1 for
[code]

Can we capture `appendedFiles`, `deletedFiles`, and `latestSourceFilesSignature` in a separate case class `Update` (preferably as an `Option[Update]`?

[2020-10-23 00:24] #190 closed

[2020-10-23 04:24] #204 closed

[2020-10-23 18:06] imback82 opened #226 "[FEATURE REQUEST]: Support mutable source data when it's loaded with globbing pattern"
**Feature requested**
There are many user scenarios where the data is stored as non-hive partitioning:
[code]
, and the user can load the data as `spark.read.json("/source/*/*")`.

If the data is loaded with globbing pattern, you will see the `rootPaths` as follows:
[code]
This could be problematic if new folders (e.g, `/source/2/2`) are added and if Hyperspace wants to keep track of newly appende

[2020-10-24 00:23] rapoth commented on #200
@sezruby Thanks for writing this up! Can you also put up the success criteria? Also, how can we still support partitioning? (maybe use ids instead of actual partition keys for push-down?)

[2020-10-25 03:03] pirz commented on #210
@sezruby This is needed for #200 - If you have not started it probably I should take it. Plz let me know.

[2020-10-25 13:00] sezruby commented on #210
@priz Thanks for letting me know! This is also required for #198, so I was working on this with it. I've pushed #228 for this issue.

[2020-10-25 18:31] pirz commented on #210
Thank you @sezruby

[2020-10-26 17:40] imback82 opened #229 "[FEATURE REQUEST]: Support variable schema for included columns"
**Feature requested**

Hyperspace currently supports creating an index on data with fixed schema. However, there have been customer asks where an index needs to be created on data with evolving schema.

Hyperspace should be able to support this scenario - data with evolving schema - as long as the schema for indexed columns do not change; only the schema for included columns change.

**Success cri

[2020-10-27 02:38] imback82 opened #230 "LogIndexEntry's copy() doesn't copy its base class LogEntry"
`copy` in withAppendedAndDeletedfiles doesn't copy `state` of LogEntry. So `index.created` failed before checking the len of appendedFiles and deletedFiles

_Originally posted by @sezruby in https://github.com/microsoft/hyperspace/pull/228#r512334451_

[2020-10-27 18:10] #210 closed

[2020-10-28 08:45] sezruby opened #231 "Support file-level refresh for deleted files in Refresh incremental mode"
**Feature requested**

Currently, all index data files are rewritten when performing refresh incremental mode with deleted files.
We could improve this by checking each file and rewrite the data without deleted rows only if necessary.

 **Acceptance criteria**

**Success criteria**

**Additional context**

[2020-10-28 14:52] rapoth opened #233 "[FEATURE REQUEST]: Scalable Refresh Index for Large Data Sources"
**Feature requested**

Imagine a scenario where users have a folder `/data/` where they ingest data into partitions (hive-style or not) and each partition contains ~10 files. Then we'd have something like the following:

  - `/data/year=2020/month=10/day=20/hour=00/<30 files>`
  - `/data/year=2020/month=10/day=20/hour=01/<30 files>`
  - `/data/year=2020/month=10/day=20/hour=02/<30 files>`
  - ...

[2020-10-29 01:58] rapoth commented on #206
We can introduce a flag for this check since it might be expensive. For instance: `hyperspace.index.integrityCheck.enabled` and set it to `false` by default.

@apoorvedave1 Can you create an issue for other related tasks as appropriate and link to this issue please?

[2020-10-29 02:06] rapoth commented on #125
@apoorvedave1 Is this still valid and if so, can you please take care of it in your existing PR #124 ?

[2020-10-29 02:09] rapoth commented on #180
@mayurdb I am going to close this but feel free to re-open if you have more questions.

@pirz Could you please add this to our FAQs?

[2020-10-29 02:09] #180 closed

[2020-10-29 02:15] rapoth commented on #146
@imback82 Could you open a related feature to list the data source location when users utilize `indexes.show` API?

[2020-10-29 02:16] rapoth commented on #141
@apoorvedave1 Is this still valid? If yes, can you update it appropriately please?

[2020-10-29 02:19] rapoth commented on #130
We will investigate on what is required and whether this is feasible and get back. Thanks!

[2020-10-29 02:21] rapoth commented on #109
I am closing this in favor of #146

@sezruby Please feel free to include this as a usecase in the optimizer side.

[2020-10-29 02:21] #109 closed

[2020-10-29 02:23] rapoth commented on #108
@apoorvedave1 Can you add more details + pros/cons to this issue? And can you convert this issue into the `Feature Request` template please?

[2020-10-29 02:24] #106 closed

[2020-10-29 02:28] rapoth commented on #230
I think @pirz hit into this. @pirz Could you please chime in?

[2020-10-29 02:42] rapoth commented on #195
@apoorvedave1 I'm closing this since it is not needed after the merge of RefreshAppend and RefreshDelete. Feel free to re-open if you think otherwise.

[2020-10-29 02:42] #195 closed

[2020-10-29 02:45] rapoth commented on #22
We should subsume this as part of the new Why Not? API. @sezruby Can you please include this use case in your proposal?

[2020-10-29 02:45] #22 closed

[2020-10-29 02:46] rapoth commented on #16
Resolved as part of #73

[2020-10-29 02:46] #16 closed

[2020-10-29 15:54] SynapsePOC commented on #130
The value of this proposal can go manyfold, if cache is co-located with partition, thus retaining in the hands of user control over distribution of data amongst the nodes, participating in cluster. Thus, providing for the applications requiring most intensive query activity, to harvest significant volumes of data, without having to deal with shuffling and limitations of the driver node.
In that re

[2020-10-30 03:33] apoorvedave1 opened #236 "Investigate reprioritization of join rule vs join rule v2 for better perf."
https://github.com/microsoft/hyperspace/pull/124#discussion_r478530011

### Describe the issue

### To Reproduce

### Expected behavior

### Environment

[2020-10-30 23:01] apoorvedave1 opened #237 "Investigate use of Join Index Rule V2 when #buckets on indexes on both sides of join are different"
### Describe the issue

Discussion thread: Thanks @imback82 for pointing this out:
https://github.com/microsoft/hyperspace/pull/124#discussion_r514548371

[code]
Result:
[code]
Neither side is able to utilize bucketing.

Now if we set `spark.sql.shuffle.partitions = 4`, we can use bucketing on the right side
[code]

### Problem
We need to decide whether or not to add the check `spark.sql.shuffle.p

[2020-10-30 23:02] apoorvedave1 commented on #237
Question by @imback82
https://github.com/microsoft/hyperspace/pull/124#discussion_r514830755

[2020-11-02 02:46] sezruby opened #239 "Time travel feature on index versions"
**Feature requested**

This issue is originally suggested by @rapoth.

As we're supporting Delta lake or other storage abstractions, we could consider time travel over multiple index versions.
Although Hybrid Scan can handle the difference between the latest version of an index and the time travel point, we could optimize this by supporting time travel on index versions **to reduce the difference

[2020-11-02 03:04] sezruby opened #240 "Serving stale index data with a config"
**Feature requested**

Currently, indexes cannot be applied if their source dataset is updated.  (w/o Hybrid Scan or incremental refresh)
However, some users might be willing to use the index data even if they are outdated a little.

This can be handled with a new config:
[code]

Similar to Hybrid Scan threshold, if
`(common bytes of source files between a candidate index) / (total bytes of the in

[2020-11-02 05:00] sezruby commented on #198
Resolved by #232 and #235

[2020-11-02 05:00] #198 closed

[2020-11-02 05:02] sezruby commented on #169
Closed by mistake and #238 will close this issue.

[2020-11-02 18:31] imback82 opened #243 "[FEATURE REQUEST]: Ability to specify path to create index outside system path."
**Feature requested**
Currently, Hyperspace creates indexes under the system path specified by `spark.hyperspace.system.path`. The user should be able to specify different path to create/search the indexes. Note that #242 removes `spark.hyperspace.index.creation.path` and `spark.hyperspace.index.search.paths` since they are not used, but can be brought back when this feature is implemented.

**Acc

[2020-11-05 18:42] pirz opened #245 "Fix encoding for of file paths with a space when stored as String values"
### Describe the issue
We need a consistent encoding for storing Strings with space.
An example of the issue is when storing a filePath, which has a space in some token, as a key in a Map[String, Long]. Due to the difference in String representation after Serde, lookup for that key could return None.

This case can happen if user stores data with partitioning and some of the partitioning columns h

[2020-11-10 01:03] apoorvedave1 opened #246 "[FEATURE REQUEST]: Update notebooks to showcase hybrid scan scenarios for all languages"
### Describe the issue

Currently Hitchhiker's docs on hyperspace only showcase basic usages of index maintenance and usage apis. It doesn't include an example of hybrid scan with append and delete scenarios. We need to add e2e examples of hybrid scan on all three languages.
### To Reproduce

### Expected behavior

### Environment

[2020-11-10 01:03] apoorvedave1 commented on #246
@sezruby could you please take this up if you have bandwidth?

[2020-11-10 01:06] apoorvedave1 opened #247 "[FEATURE REQUEST]: Update notebooks to showcase Refresh Index with incremental mode scenarios for all languages"
### Describe the issue

Currently Hitchhiker's docs on hyperspace only showcase basic usages of index maintenance and usage apis. It doesn't include an example of refresh incremental scenarios. We need to add e2e examples of refresh incremental for all three languages.
### To Reproduce

### Expected behavior

### Environment

[2020-11-11 08:52] sezruby opened #248 "Fix APIs for "REFRESHING" state of indexes though refresh was cancelled"
### Describe the issue

If refresh index operation is canceled before it's finished, the index state remains "REFRESHING".
In that case, the index cannot be applied and also deleted or refreshed via Hyperspace APIs.

We could handle this case as follow:
- ignore incomplete state of the latest version
  - index candidate based on the latest "ACTIVE" version.
- delete/vacuum support so that a user c

[2020-11-11 12:42] sezruby opened #249 "Not applying Join rule v1 in case of Broadcast Join"
### Describe the issue

Join Rule v1 can be applied for Broadcast Join which can be inefficient. Possible problems are:
- Other rules (Filter Rule) can be applied if Join Rule v1 was not applied.
- Hybrid Scan can cause some regression due to unnecessary Shuffle & BucketUnion for appended files.

### To Reproduce

### Expected behavior

### Environment

[2020-11-11 19:57] apoorvedave1 opened #250 "Update explain api to not display index data version folder in"
### Describe the issue

### To Reproduce

### Expected behavior

### Environment

[2020-11-11 19:58] apoorvedave1 opened #251 "Update explain api to not display index data version folder in "Index Selected" output"
### Describe the issue

Currently hs.explain looks like this:
[code]
remove the extra `v__=0` from this

### To Reproduce

### Expected behavior

### Environment

[2020-11-11 20:45] apoorvedave1 opened #252 "Explain output shows indexes picked but doesn't show them in "Indexes Used" section"
### Describe the issue

### To Reproduce
[code]
Output
[code]

### Expected behavior

### Environment

[2020-11-12 14:38] sezruby opened #253 "Introduce an API to show why indexes are inapplicable for a given plan"
**Feature requested**

Currently, Hyperspace doesn't provide enough supportability features to figure out which indexes are available for a query and why some indexes are not applied for the plan. Thus a user should check the index metadata and analyze why indexes are not applied.

To improve user experience about it, we could provide APIs to check why indexes are not applicable for a given query

[2020-11-14 04:20] sezruby commented on #222
Closed by #223

[2020-11-14 04:20] #222 closed

[2020-11-16 19:58] rohitashJain commented on #252
Hi @apoorvedave1
I am new to hyperspace and keen to contribute.

I was trying to figure out the root cause.
I guess, the issue is in this line of [code]([https://github.com/microsoft/hyperspace/blob/master/src/main/scala/com/microsoft/hyperspace/index/plananalysis/PlanAnalyzer.scala#L214]).

val usedIndexes = indexes.filter(indexes("indexLocation").isin(getPaths(plan): _*))

IndexLocation is updat

[2020-11-17 00:29] apoorvedave1 commented on #252
Thanks @rohitashJain , that's very helpful triage.
I think we can make this more robust by stripping the `v__=#` section completely from the hyperspace.indexes api.
As you pointed out, the behavior of hyperspace.indexes is different before and after refresh. Before refresh we see `v__=0` in the "indexLocation" column, after refresh we don's see `v__=1` at all.

This looks like a bug. To make this

[2020-11-17 00:34] apoorvedave1 commented on #252
Then we can move on to `hyperspace.explain` api fix:

We can then update the getPaths(plan) to return index root paths without the `v__`, (and remove duplicates).

[2020-11-17 00:35] apoorvedave1 commented on #252
Thanks @rohitashJain, Please let me know if I was unclear or if I can help in some way.

[2020-11-17 07:45] sezruby opened #256 "New tags for appended and deleted files in Hybrid Scan"
**Feature requested**

To support Hybrid Scan, we need to calculate appended and deleted files between the candidate index and the given dataframe.
The lists are required for:
- `getCandidateIndex`, to check if the index can be applied to the given plan
- `transformPlanToUseHybridScan`, to transform the plan for appended files and deleted files accordingly, after selecting the candidate index.
And

[2020-11-17 19:01] imback82 opened #257 "Remove duplicate getFileIdTracker() in tests"
We should remove duplicate function, but we can do it as a follow up.

_Originally posted by @imback82 in https://github.com/microsoft/hyperspace/pull/234#discussion_r525410476_

[2020-11-17 19:08] imback82 opened #258 "Write unit tests for FileIdTracker"
This class has many logics to validate and I think we need unit tests for this class.

_Originally posted by @imback82 in https://github.com/microsoft/hyperspace/pull/234#r525415940_

[2020-11-17 23:33] pirz commented on #200
Added by #234

[2020-11-17 23:33] #200 closed

[2020-11-17 23:34] pirz commented on #220
Implemented in #234

[2020-11-17 23:34] #220 closed

[2020-11-18 19:32] apoorvedave1 commented on #252
@rohitashJain https://github.com/microsoft/hyperspace/issues/251 this one could be fixed first. What do you think?

[2020-11-18 22:52] apoorvedave1 commented on #226
The first option is not usable I think because the information that globbing was used, is lost as soon as the df gets created. When we use this df for index creation, the create api cannot know if it was globbed with wildcards or hardcoded with actual paths.

The second option is much more doable. Ideally we should be able to achieve the desired behavior by adding option as suggested.
 - user sets

[2020-11-19 04:00] sezruby commented on #130
For the scenario in the description, the problem is that Spark's Cache Manager changed "Relation" of cached df to "InMemoryTableScan" before the optimizer which applies indexes if possible.
In that case, we don't replace the plan to use the index (uncached) - and I don't think we have to; it is not desirable in general.

These are some possible scenarios:

1. caching "index data" itself, instead o

[2020-11-19 09:47] sezruby opened #260 "[PROPOSAL]: Caching index data"
**Describe the problem**

Currently, Hyperspace index is not applied on top of  "cached" table or query (#130) because Spark's cache manager replaces the "cached" plan with "InMemoryRelation".
Hyperspace doesn't consider "InMemoryRelation" as a candidate plan to apply index, so indexes are not applied.

If Hyperspace is enabled at cache time, index data can be utilized for the plan if applicable -

[2020-11-19 19:17] rohitashJain commented on #252
@apoorvedave1  Looks good to me.
As you suggested, we would need to fix two pieces
1. private def indexDirPath(entry: IndexLogEntry)  -   Add simple condition in while loop  && ! root.subdir.head.name.startWith(INDEX_VERSION_DIRECTORY_PREFIX)
2. Fix getPath function - Instead of location.rootPaths.head.getParent.toString use location.rootPaths.head.getParent.getParent.toString ( Extra call of getP

[2020-11-19 22:03] apoorvedave1 opened #261 "Gold Standard for query plan check"
### Describe the issue

Gold Standard for query plan check.

### To Reproduce

### Expected behavior

### Environment

[2020-11-19 22:08] apoorvedave1 opened #262 "Throw proper error messages when the previous version's meta-data can no longer be read."
### Describe the issue

As Hyperspace is actively evolving, we frequently see breaking changes to the index metadata, requiring old indexes to be discarded and unusable. Currently, for such cases, the user sees jackson serialization errors (JSON metadata could not be read because of incompatible json structure). E.g. Unexpected field "appendedFiles" found while serialization. etc.

Change this beh

[2020-11-20 01:35] imback82 commented on #261
@apoorvedave1 Will this be a benchmarking framework or framework to check the plan similar to https://github.com/apache/spark/blob/master/sql/core/src/test/scala/org/apache/spark/sql/PlanStabilitySuite.scala?

[2020-11-20 02:48] pirz opened #263 "[PROPOSAL]: Support variable schema for included columns"
## Problem Description
This design proposal is for adding feature request #229.

Currently, Hyperspace supports creating indexes only on data with fixed schema. This means:

- All columns from "indexed" and "included" column should always be present in all data records.
- When refreshing, no column can be added/removed from "indexed" or "included" columns.

This makes it impossible to support crea

[2020-11-21 15:38] UlrikChristensenGit opened #264 "[Question] Unable to create index using pyspark"
When trying to create an index on a simple parquet file, i get the error below. Hyperspace-log gets created, but status of index remains "CREATING".

# Error message:

`Py4JJavaError: An error occurred while calling o44.createIndex.
: java.lang.NoSuchMethodError: org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(Lorg/apache/spark/sql/SparkSession;Lorg/apache/spark/sql/execution/Query

[2020-11-21 21:06] imback82 commented on #264
Can you try passing `--packages com.microsoft.hyperspace:hyperspace-core_2.12:0.3.0` when you run `spark-submit` instead of setting it at the spark session creation time? Also, I see that you edited the error message? (The current error message seems a bit weird).

[2020-11-22 07:14] UlrikChristensenGit commented on #264
I tried passing it with spark-submit as well, but no luck (same error message).

About the edit, I copy-pasted from the wrong vscode window at first, so that was a typo.

[2020-11-22 22:09] imback82 commented on #264
Oh looks like you are using Spark 3.0.1.

Hyperspace currently supports only Spark 2.4 and support for Spark 3.0 is on the way: #85.

[2020-11-23 09:05] sezruby opened #266 "IndexLogEntry stores full paths in FileInfo"
### Describe the issue

In 0.3.0 ver (current master), each index log entry keeps full file paths of index data files and source files.

[code]

### To Reproduce

Create an index and check the metadata. The below log is the outcome from HybridScanForPartitionedDataSuite.

### Expected behavior

Only filename should be stored in leaf nodes.

### Environment

[2020-11-23 23:56] pirz commented on #263
@imback82 @apoorvedave1 @sezruby @rapoth
Can you take a look at this proposal and leave your comments (if any)? Thnx

[2020-11-24 00:46] imback82 commented on #263
The current `createIndex` API takes in `IndexConfig`. Can you update the examples with indexed columns as well?

[2020-11-24 00:50] imback82 commented on #263
What if source data files are non-Parquet?

[2020-11-24 01:00] pirz commented on #263
The examples are updated by adding `IndexConfig`.

[2020-11-24 09:12] sezruby opened #270 "Improvement of Time Travel Query on Delta Lake"
**Feature requested**

Currently, a time travel query on delta lake can be handled with Hybrid Scan.
However, in case the time travel version is too far from the latest version of index, there might be many appended and deleted files between the time travel version and the latest index. If so, we cannot utilize the index efficiently and Hybrid Scan overhead might outweigh the benefit of the index.

[2020-11-24 19:11] imback82 opened #271 "Revisit FileBasedSignatureProvider for a possible performance optimization"
could you also hide this feature behind a flag which defaults to false?
My concern is I think this would be unnecessary calculation for regular scenarios. In any case, if signature doesn't match, RuleUtils will make sure that if index can be used, it will be used right? I am just wondering why bother O(NlogN) for sorting always for a rare scenario which will still work without this change(assuming

[2020-11-24 19:12] imback82 commented on #271
Related thread: https://github.com/microsoft/hyperspace/pull/268#discussion_r529071399

[2020-11-24 21:22] #266 closed

[2020-11-24 23:33] sezruby commented on #271
I think we cannot guarantee the order of HashSet iterator. It can differ depending on the internal implementation. (e.g. different hash bucket size, hash functions..)

[2020-11-25 02:34] pirz commented on #263
@imback82 I updated the proposal to handle schema in source data files. Specifically I added a new section: "Index Creation and Refresh changes" and modified "Index Metadata Changes". Plz take a look and let me know about your comments. Thnx!

[2020-11-25 03:59] sezruby commented on #263
Generally LGTM! How about `includeColumns` `excludeColumns` rather than `mode` + `columns`?
I wonder incremental refresh will work well with the previous data. Could you create a prototype PR?

[2020-11-25 04:04] imback82 opened #273 "Add unit tests for DefaultFileBasedSource, FileBasedSourceProviderManager, and CacheWithTransform"
Add unit tests for DefaultFileBasedSource, FileBasedSourceProviderManager, and CacheWithTransform missed from #227.

[2020-12-02 02:10] pirz opened #275 "[PROPOSAL]: Obtain Enhanced Index Statistics"
## Goal
This design proposal is for implementing enhancement #146

We want to make it possible for a user to get some detailed statistics on existing Hyperspace indexes. These statistics summarize some important logical/physical properties of index and they can be useful for different scenarios on the user side s.a. deciding about triggering index optimization.

## Current Situation
Currently, the

[2020-12-02 18:38] apoorvedave1 opened #276 "[PROPOSAL]: Support for Scan Pattern for Scalable Refresh Index for Large Data Sources"
**Describe the problem**
Goals
1. Support incremental refresh call on scan pattern
2. Prevent full file listing of df creation when incremental refresh is called with scan pattern

Independent Scenarios to support
1. Globbing data sources
	E.g. original source data path = data/*/*/*/*
	- create index supports this <PR # handles this>
	- Incremental refresh on scanPattern = data/*/a/*
	- Incrementa

[2020-12-03 00:02] apoorvedave1 opened #277 "Unexpected behavior of explain api when df is materialized"
### Describe the issue

Hyperspace explain api gives incorrect output when the original df is materialized before explain command

### To Reproduce
Note the output: Plan with and without indexes both show index being used.
[code]
Output:
[code]

### Expected behavior
Note the difference between "Plan with Index" and "Plan without index"
[code]

[2020-12-03 04:02] #277 closed

[2020-12-03 09:15] sezruby commented on #275
`extended = true` option seems unnecessary now. How about showing the total size under index director, not calculating only index data size of all versions?
And I think it would be good not to use Dataframe to show the results like indexes.show - it prints only a small part of the result strings. WDYT? @pirz

[2020-12-03 19:47] apoorvedave1 opened #280 "Hive-partition columns are not correctly stored in index content when refresh-incremental is called"
### Describe the issue

When incremental refresh is called on hive-partitioned data, if partitoin columns are part of index columns (indexed/included), they are not picked by the refresh call and are filled with nulls.

### To Reproduce
1. create hive partitioned data. e.g. `df.write.partitionBy("c1").parquet...`
2. create index where c1 is used in either indexed or included columns
3. append new

[2020-12-03 20:51] #174 closed

[2020-12-03 20:51] #134 closed

[2020-12-03 20:51] #135 closed

[2020-12-03 20:51] #169 closed

[2020-12-04 02:27] pirz commented on #275
@sezruby

Do you mean "Total size of index files (latest version)" which is already included in `extended = false` output?

Using DF is a good option as it is an easy/standard way to make the output usable for consumer code for further filter/extend and using it for different purposes. That is why we decided `indexes` API output to be DF, in the first place.
Regarding "printing a small portion" co

[2020-12-04 03:09] sezruby commented on #275
Yes let's add `extended` mode later if it's necessary. I think it's for long results like all rootPaths of source / print all source file paths.

Ok then using DF is fine. Thanks for letting me know about `indexes.show(false)`.

How about add involved? versions for the latest index version which are linked by incremental refresh?
So that users can remove unused index versions.

[2020-12-04 07:37] rapoth opened #282 "Gold Standard"

[2020-12-04 09:40] sezruby commented on #263
[code]
`includedColumns + schema` can be `includedColumnSchema` or `includedColumns`? since `schema` also includes the name.

And I think it's okay not to support optimizeIndex for changed schema at first, to avoid complexity; we could do it later if it's needed.

[2020-12-04 18:50] apoorvedave1 opened #283 "[DOCUMENTATION]: Update docs (config + behavior) for supporting globbing patterns"
### Describe the issue

Documentation needs to be updated for globbing pattern support with supported configs
### To Reproduce

### Expected behavior

### Environment

[2020-12-04 18:54] apoorvedave1 opened #284 "Add Json conversion tests for regex/wildcard patterns"
Add tests for validating json conversions of regex patterns which could be used in globbing pattern scenarios. Tests should make sure conversion tojson and fromjson leads to consistent json content.

could you add some tests for the other glob patterns?  like
[code]
I think we should check if the index with these patterns will be refreshed correctly.

_Originally posted by @sezruby in https://gith

[2020-12-08 01:38] wangmiao1981 opened #285 "Example Code Throws Null Pointer Exception with 7.3 LTS (includes Apache Spark 3.0.1, Scala 2.12)"
### Describe the issue

I try to run some example code in a Spark notebook with 7.3 LTS (includes Apache Spark 3.0.1, Scala 2.12).

### To Reproduce

Create a notebook and copy & paste the following code:

`
import org.apache.spark.sql.SparkSession
import com.microsoft.hyperspace._
import com.microsoft.hyperspace.Hyperspace
import com.microsoft.hyperspace.index.IndexConfig

 val spark = SparkSessi

[2020-12-08 02:09] pirz commented on #275
@sezruby - Can you plz explain above comment? Do you mean exploring index files and extract how many top-level version directories are involved? If yes, I am not sure what is the best way to capture/show them in the final DF. Probably a short example from you can help here.

[2020-12-08 08:43] sezruby commented on #275
Yes, specifically root paths of index content data. For example
ColumnName: "IndexDataRootPaths"
Value: `path/to/indexName/v__=0`, `path/to/indexName/v__=1`

[2020-12-08 08:47] sezruby commented on #285
Hyperspace currently supports only Spark 2.4 and support for Spark 3.0 is on the way: #85.

[2020-12-08 18:42] wangmiao1981 commented on #285
@sezruby  Thanks! I also suspect the runtime version issue. Will create a new cluster with 2.4.

[2020-12-08 18:44] wangmiao1981 commented on #285
One more comment: @sezruby Spark 2.4 is scale-2.11. By default, Hyperspace seems compiled with Scala-2.12.

[2020-12-09 01:44] sezruby opened #288 "Support pluggable internal parquet format via source provider API"
Can we introduce `hasParquetAsSourceFormat` to the provider API and record this info in the metadata?

_Originally posted by @imback82 in https://github.com/microsoft/hyperspace/pull/265#discussion_r537989294_

[2020-12-09 12:38] sezruby commented on #285
Yes it's 2.12 by default, so you need to change the version as 2.11 in `build.sbt`.
It's being delayed to support Spark 3.0 for now. Thanks!

[2020-12-09 16:18] imback82 commented on #285
Or if you are using `sbt` CLI to build, you can do the following:
[code]
, or do the following to build both:
[code]

[2020-12-10 02:54] wangmiao1981 commented on #285
I switched to Databricks runtime 6.4 (includes Apache Spark 2.4.5, Scala 2.11) with ADLS Gen2 as my storage (also tried DBFS).

It throws new exception if I try to create index.

`java.lang.ClassCastException: org.apache.spark.sql.execution.datasources.SerializableFileStatus cannot be cast to org.apache.hadoop.fs.FileStatus
	at com.microsoft.hyperspace.index.sources.default.DefaultFileBasedSource$

[2020-12-10 02:55] wangmiao1981 commented on #285
@sezruby @imback82  any thoughts on the above exception?

[2020-12-10 02:56] wangmiao1981 commented on #285
@sezruby  I will first make it work for Spark 2.4 and rebuild runtime for Spark 3.0 later.

[2020-12-10 03:36] imback82 opened #290 "Transpose the output for getIndexStat to make reading easier."
[code]
Maybe we can transpose it so that it's easier to read? For example:
[code]

_Originally posted by @imback82 in https://github.com/microsoft/hyperspace/issues/286#issuecomment-742215883_

[2020-12-10 03:39] imback82 commented on #285
I believe `SerializableFileStatus` is a known issue in the Databricks (they seem to have a different implementation from the OSS Spark). We are looking into a workaround. cc @rapoth

[2020-12-10 18:23] wangmiao1981 commented on #285
Glad to know it is not my problem. I can spend some time to see if we can walk-around or get some insights from DB engineering. I am closely working with them on other projects.

[2020-12-10 22:51] rapoth commented on #285
Thank you for your interest @wangmiao1981!

We are sorry you are hitting into this issue. We tested Hyperspace against open-source Apache Spark so there maybe a few minor modifications to make it work with Databricks. If you manage to find any workarounds or the changes needed to make it work after your discussion with DB engineering, please feel free to open a PR! Thanks again!

[2020-12-10 23:22] rapoth opened #292 "Usability"

[2020-12-11 03:02] #250 closed

[2020-12-11 03:02] #285 closed

[2020-12-11 03:04] #264 closed

[2020-12-11 03:23] #172 closed

[2020-12-11 03:24] #130 closed

[2020-12-11 03:42] #288 closed

[2020-12-11 06:16] sezruby commented on #246
@imback82 @pirz @apoorvedave1 How about exposing `FileUtils` for python and C#?
It seems there's no proper way w/o using external library.

[2020-12-14 21:28] apoorvedave1 opened #295 "Investigate if refresh incremental works fine with Delta lake"
Investigate whether refresh-incremental works well with delta lake data source. Does it need "basePath" variable set as mentioned in the below comment.

And I think we also need to add "basePath" option for DeltaLakeFileBasedSource.
Could you handle this for delta lake and add a test in DeltaLakeIntegrationTest likewise? Thanks!

_Originally posted by @sezruby in https://github.com/microsoft/hyper

[2020-12-15 17:34] mmchougule opened #297 "No module named Hyperspace on AWS EMR"
### Describe the issue
Great project, I am trying to use this in pyspark on AWS EMR. I have added `spark.jars.packages: "com.microsoft.hyperspace:hyperspace-core_2.11:0.1.0"` in my spark config and is used when creating a SparkSession with spark master on `yarn`.
When I do `from hyperspace import Hyperspace` I am getting an error `No module named hyperspace`. I do see that it has downloaded the hy

[2020-12-15 18:40] apoorvedave1 commented on #297
Hi @mmchougule , could you please try the following;

C:\path\to\hyperspace\jar> pyspark --jars hyperspace-core_2.11-<version>.jar --files hyperspace-core_2.11-<version>.jar
…
Spark session start logs
…

[2020-12-15 19:36] mmchougule commented on #297
Hi @apoorvedave1 thanks for getting back to me. This works for me in the command line. I see the issue  I run it in my code or in a jupyter notebook and try to create a SparkSession with spark.jars as the config. Am I doing it wrong? I also tried passing the path of the jar file on the VM. It seems like it did download the jar correctly just not enabling the `hyperspace` package for some reason.
[

[2020-12-15 19:58] apoorvedave1 commented on #297
thanks @mmchougule , I am not really sure how to move forward in this case. Could you try replacing hyperspace jar with any other external jar in your environment?
I am not familiar with setting up jupyter with external jars and just wanted to rule out the possibility that it's a problem with hyperspace jar or just its availability in the environment.

[2020-12-15 20:02] apoorvedave1 commented on #297
We would also love your contribution if you manage to figure out how to setup Jupyter with hyperspace. Please feel free to add instructions to do it if it works for you!

[2020-12-15 20:26] mmchougule commented on #297
Sounds good. I will debug and try a few more things. I can contribute back once I figure it out. Thank you!

[2020-12-16 01:28] sezruby commented on #297
@mmchougule Could you try this in a jupyter notebook?
[code]

[2020-12-16 15:23] mmchougule commented on #297
Thanks @sezruby It is showing me the Cell magic `%%configure` not found. Trying to find how to enable that so I can see if above works.

[2020-12-17 15:18] mmchougule commented on #297
Just an update:
1. Last night, I was able to use it in a notebook. I created indexes but the explain was still showing me sortMergeJoin and exchange shuffle partitions. This is for a join query. e.g. `joined = df1.join(df2, [id_col, date_col, "another_id"], [])`. hs.explain() did not show much either. This did seem to work when I just do a filter by id_col and do a select.

2. Today, I was seeing

[2020-12-18 01:32] sezruby commented on #297
@mmchougule

1 => For now, a join query requires:
  - both left and right child (df1, df2) have a candidate index.
  - each candidate index should be built using the same columns of join condition `[id_col, date_col, "another_id"]` as indexed columns.
  - each candidate index should contain all other columns to make the result - so if there's no Project, the index should include all columns in sou

[2020-12-22 05:29] #184 closed

[2020-12-23 17:53] andrei-ionescu opened #302 "Running Hyperspace with Databricks Runtime 5.5 LTS / 6.4 results in ClassCastException"
### Describe the issue

Running Hyperspace with Databricks Runtime 5.5 LTS, 6.4 and older is resulting in the following error:

[code]

### To Reproduce

Steps to reproduce the behavior:
1. Create a Databricks Cluster with 5.5 LTS Runtime
2. Import `hyperspace-core_2.11` in the library section as dependency
2. Create a notebook and attach it to the above cluster
3. Execute the code example from he

[2021-01-03 18:28] samdvr opened #305 "[FEATURE REQUEST]: Introduce Partial Indexes to index subset of data based on a filter condition"
Introduce Partial Indexes to index subset of data based on a filter condition

As a  user I want to create index on a filtered dataframe with a condition
This filter can be used on read query as a more selective index for access patterns.

ex:
[code]

[2021-01-04 17:36] andrei-ionescu opened #306 "[FEATURE REQUEST]: Add support for Iceberg table format"
**Feature requested**

As a **data engineer**, **data scientist** or **developer**, I want **support for Iceberg table format**, in order to **speed-up  data processing**.

**Acceptance criteria**

- [ ] Create index against an Iceberg dataset
- [ ] Run queries provided in the example
- [ ] Manage Iceberg related indexes

**Success criteria**

N/A

**Additional context**

N/A

[2021-01-04 17:37] andrei-ionescu commented on #306
Can I take this one? I'm already doing some progress on it.

[2021-01-04 21:08] #283 closed

[2021-01-04 22:30] rapoth commented on #306
Sounds good to me. Please feel free to ping us when you have a draft PR. Could you also kindly add an initial Proposal (so it serves as a design reference)? You can see some sample proposals here: #263 #275 #276 Thank you!

[2021-01-05 00:17] #146 closed

[2021-01-05 00:27] pirz commented on #275
Closed with #286

[2021-01-05 00:27] #275 closed

[2021-01-05 06:09] sezruby opened #308 "Add a condition using the default shuffle partition number in JoinIndexRanker"
BTW as Spark shuffles using the higher bucket number, it might be good to add the condition:
[code]
, for further join queries using the result DF. I'll create a new issue to trace this.

_Originally posted by @sezruby in https://github.com/microsoft/hyperspace/pull/164#discussion_r551715809_

[2021-01-06 05:38] #150 closed

[2021-01-07 07:32] sezruby opened #317 "Cache InMemoryFileIndex for Index"
**Feature requested**
![image](https://user-images.githubusercontent.com/51077614/103863056-7e42f080-5103-11eb-82f7-f4da8ebcee7a.png)
[code]
Listing files sometimes can take longer(3~4s).
There's `FileStatusCache` in Spark InMemoryFileIndex.scala, but we don't utilize it for Index. (https://github.com/apache/spark/blob/master/sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/InMem

[2021-01-07 13:31] andrei-ionescu opened #318 "[PROPOSAL]: Support Iceberg table format"
## Problem description

This design proposal is for adding feature request #306.

Currently, Hyperspace supports creating indexes only simple formats (like parquet, etc.) and Delta, but not Iceberg.

As [Iceberg table format](https://iceberg.apache.org) is close to Delta it would be very useful to have Iceberg support in Hyperspace.

## Goal

The user should be able to do use the current API to cr

[2021-01-07 13:43] andrei-ionescu commented on #306
I created the proposal and added it to the description. It's https://github.com/microsoft/hyperspace/issues/318.

[2021-01-07 17:17] imback82 commented on #318
I am a bit concerned with "Iceberg specific `IndexLogEntry`" and "Iceberg specific `IndexLogManager`"? Could you elaborate on this? We shouldn't have a specific implementation of `IndexLogManager` for a source type.

This is fine, but let's just use `LogicalPlan` as a parameter to be future-proof.

Other than above comments, the proposal seems reasonable to me.

[2021-01-07 22:45] andrei-ionescu commented on #318
I totally agree to use the `LogicalPlan` instead on `LeafNode`.

Now, getting back to the first concern: _"Iceberg specific IndexLogEntry"_.

From the beginning I want to say that I may not fully understand the inner workings of Hyperspace and I may be wrong with this "Iceberg specific IndexLogEntry" proposal. Modifying the code and testing it will make it clearer.

I thought that this change may

[2021-01-08 00:26] imback82 commented on #318
Ah OK. We can tackle the incremental refresh as a separate proposal/PR. You can check #301 as a reference.

[2021-01-08 00:30] andrei-ionescu commented on #318
I may be able to make the incremental refresh with the current means &#8212; tracking files &#8212; but it may be less efficient.

To make it specific to Iceberg and more efficient I will probably open later a separate proposal/PR.

[2021-01-08 01:20] imback82 commented on #318
OK. I suggest opening a PR first for updating the source provider API since there are places where `LogicalRelation` and `HadoopFsRelation` are matched directly in `RuleUtils.scala`.

[2021-01-11 21:42] #246 closed

[2021-01-11 21:42] #247 closed

[2021-01-14 05:02] #159 closed

[2021-01-14 06:48] #295 closed

[2021-01-14 10:50] andrei-ionescu opened #322 "The `adl:/` and `abfss:/` protocols are not supported"
### Describe the issue

The `adl:/` and `abfss:/` protocols are not supported by Hyperspace.

The error is this:

[code]

### To Reproduce

1. Have an ADL account
2. Write this code:

[code]

3. It throws:

[code]

### Expected behavior

To be able to read data from the `adl:/` and `abfss:/` protocols by using the shared Spark context Hadoop configuration.

### Environment

- Apache Spark 2.x
- Da

[2021-01-14 13:51] andrei-ionescu commented on #322
I think I can easily fix it by using `spark.sessionState.newHadoopConf()` instead of the `new Configuration()` when running `getFileSystem` method.

[2021-01-15 21:46] andrei-ionescu commented on #302
Resolved by #303.

[2021-01-15 21:46] #302 closed

[2021-01-20 23:19] #280 closed

[2021-01-25 07:24] sezruby opened #333 "Enable Hybrid Scan by default"
Currently, Hybrid Scan is disabled by default.

Hybrid Scan can be efficient if the candidate index improves the query performance a lot, so that the query could show a good performance even with Hybrid Scan overhead (on-the-fly shuffle of appended data, merging, excluding deleted data ..)

In order to enable Hybrid Scan by default, we need to add some barriers and optimizations to avoid regressio

[2021-01-26 06:35] apoorvedave1 opened #334 "[PROPOSAL]: Gold Standard"
**Describe the problem**
A clear and concise description of what the problem is e.g., *I have this scenario and Hyperspace does not work [...]*
#282 Gold Standard

Design for plan validation for TPCDS queries, with features for extensibility to more data sets and various tpcds configs

**Describe your proposed solution**
A clear and concise sketch of the solution you want to propose.
Class Diagram

[2021-01-27 01:19] rapoth commented on #334
Thank you! Can you follow the [outline from here](https://github.com/microsoft/hyperspace/blob/master/docs/design/TEMPLATE.md) please? I think you have most of it already.

[2021-01-27 05:12] imback82 commented on #334
Can you explain `tpcdsBasic` vs. `tpcdsOther`?

[2021-01-27 10:05] sezruby opened #338 "Partition filter aware index application"
**Feature requested**

Currently Hyperspace considers all source files in the given relation.

However, if we refers the partition filter for the partitioned source data, we could exclude unrelated file paths.
For example,
All file paths = `["/path/col=1/a.parquet", "/path/col=2/b.parquet", "/path/col=1/b.parquet"]`
Paths with partition filter (col = 1) =  `["/path/col=1/a.parquet", "/path/col=1/b

[2021-01-27 17:55] apoorvedave1 commented on #334
Thanks @rapoth , yeah I will fix it before merging.

the general idea is we will have lot's of approved simplified plans for different configs. Just as an example, with and without hybrid scan enabled, we will have very different "simplifiedApprovedPlans". so I used `tpcdsBasic` meaning `tpcds with config 1` and `tpcdsOther` meaning `tpcds with config 2`

e.g.
[code]

tpcdsBasic/.../q1Simplified.t

[2021-01-27 19:54] rapoth commented on #282
Closing in favor of #334

[2021-01-27 19:54] rapoth commented on #261
Closing in favor of #334

[2021-01-27 19:54] #261 closed

[2021-01-27 20:27] thugsatbay opened #341 "[PROPOSAL]: Design Doc Bloom Filter"
## Bloom Filter non-covering index for HyperSpace
Discussion of [#161](https://github.com/microsoft/hyperspace/issues/161) Introduction to Bloom Filter.

A design doc proposing how we might go on implementing [Bloom Filter](https://en.wikipedia.org/wiki/Bloom_filter) in [HyperSpace](https://github.com/microsoft/hyperspace).

## Describe the problem (Background)

Hyperspace currently only supports

[2021-01-28 01:52] apoorvedave1 opened #342 "[PROPOSAL]: Changes to support for multiple index types"
## Problem Statement
Code changes required to support multiple index types like bloom filter index and partition elimination index.

## Background and Motivation
Why limit to covering indexes? Let's expand hyperspace to make it flexible for more index types.

## Proposed Solution
Make changes to the existing design to allow for flexibility in adding more index types.

## Design
### Changes to Acti

[2021-01-28 02:15] rapoth commented on #161
Closing in favor of #341. Thanks @sezruby!

[2021-01-28 02:15] #161 closed

[2021-01-28 03:00] sezruby commented on #342
Seems IndexTypeHandler is not necessary as we should create new rules for Non-covering index / bloom filter index.

[2021-01-28 21:58] apoorvedave1 commented on #342
thanks @sezruby , it still is a good choice, for e.g. filterindexrule can directly use bloom filter and non-covering index. It's generally a better abstraction I think to separate out index type logic from rules from now on moving forward.

[2021-01-28 23:43] sezruby commented on #342
Ok these are my points:
- we need to keep Rules simple and clear.
- each index type might have all different conditions and getCandidateIndexes and rank algorithms will be incompatible. Having index type condition for the functions might not be clear.
- I also have some refactoring plan of rules for whyNot API. I'll refactor the rules as series of "Checks" to filter the candidate indexes. We might

[2021-01-28 23:51] #322 closed

[2021-01-29 00:54] #317 closed

[2021-01-29 18:31] imback82 commented on #158
@sezruby Can you check if this issue can be closed?

[2021-01-29 19:16] imback82 opened #345 "[FEATURE REQUEST]: Include the Hyperspace version in the index metadata"
**Feature requested**

It would be helpful if we include the Hyperspace version in the index metadata to better support backward compatibility. Currently, it's very hard to see which version of Hyperspace was used when indexes were created.

[2021-01-31 21:38] andrei-ionescu opened #347 "[PROPOSAL]: Index nested fields"
## Problem description

This design proposal is for adding support for nested fields in both `indexedColumns` and `includedColumns`.

Currently, Hyperspace does not support nested fields like structs or structured arrays.

Having the possibility to use nested fields with Hyperspace would be of great benefit to everybody.

## Goal

The user should be able to create and index with nested fields and

[2021-02-01 14:13] sezruby commented on #347
Looks good! Could you also consider
`df.filter(df("nested.nst.field1") === "wa1").select("id", "name", "nested.nst.fieldId1")` ?
We might need to replace all "nested#102.nst.field1" in upper level of the tree plan, not just in (Project => Filter => Relation).
It would be good if you can check if replacing attributes for all plan nodes will work with some testing code.

[2021-02-01 17:00] imback82 commented on #347
+1 as well. Could you capture that nested fields can also be supported for included columns?

[2021-02-01 23:51] rapoth commented on #347
+1 Looks awesome! Thanks @andrei-ionescu!

I have a few minor questions/nits:

1. In your Goal section:
[code]
   Did you mean `nested.nst.field2` in `includedColumns`?
2. In Creating the index:
[code]
   should have `nested.nst.field2` in the included columns (and the appropriate name change reflected in the example righ below).
3. For the following `Join queries with hybrid scans do get even mor

[2021-02-02 00:04] rapoth commented on #342
+1 to what @sezruby is saying. I'm in favor of separating out the rules per index type since the logic might be totally different. Ideally, we would have:

  1. Covering index comes with a collection of rules e.g., FilterIndexRule, JoinIndexRule and later AggIndexRule
  2. Non-covering indexes (like fine-grained partition elimination and bloom filter index) will come with their own set of rules e.

[2021-02-02 03:49] apoorvedave1 commented on #342
yeah so if we do this design, i think rules will become simpler and clearer. I am not saying to not write new rules. I am saying if rules can be reused, we don't need to duplicate it if possible. One example is Filter rule. If join rule requires a different logic, we can write a new join rule. but filter rule doesn't require duplication.

hybrid scan logic gets extracted _out_ of the filter rule i

[2021-02-02 07:29] sezruby commented on #158
Since we only allow 1 relation and the current plan signature of non-hybrid scan is just using "Relation" node, I think we don't need to consider the query plan(Relation) for Hybrid Scan - until we support #95.

[2021-02-02 15:06] andrei-ionescu commented on #347
It was intentional to project the field that we search by (the indexed field). But I'll switch to your suggestion as it seems more used.

I'll add details to all use cases as I get more understanding how the plans do get composed.

[2021-02-02 16:35] rapoth commented on #347
Sounds good, thank you!

[2021-02-02 19:23] thugsatbay commented on #342
If we look at FilterIndexRule or JoinIndexRule. We are trying to find if there is a filter or join condition. Once it is done, we are trying to figure can we use covering index. And if they are multiple index we rank them.

The question is are we ever going to compare two different type of index. If no, then how we figure out which we prefer more based on type, staleness .. it becomes complex. If

[2021-02-04 02:17] thugsatbay commented on #345
I can take a look at this.

[2021-02-04 03:21] imback82 commented on #345
One thing to remember is that the version should be read from [version.sbt](https://github.com/microsoft/hyperspace/blob/master/version.sbt).

Maybe https://github.com/sbt/sbt-buildinfo can help? (I haven't tried it though)

[2021-02-04 22:08] imback82 opened #350 "[FEATURE REQUEST]: E2E Tests involving Hive tables."
**Feature requested**

#349 removes a Hive related test where indexes were created from Hive external tables, because the test was ignored by default (replaced/enabled it with a test using built-in catalog tables).

Since indexes can be created from Hive tables and `HiveTableRelation` is not supported by Hyperspace, it may be a good idea to add Hive-related tests to check the coverage.

**Success

[2021-02-05 22:51] andrei-ionescu opened #351 "[FEATURE REQUEST]: Support partitioning and bucketing of the index dataset"
# Feature requested

In the case of very large datasets (`34 Billion` records) the generated index is formed out of big files and has a performance degradation.

Given the following details...

## Query

[code]

Executed with:

[code]

## Dataset

- schema size is about 20 top fields and about 17 of these are heavily nested
- about `34 Billion` rows
- the `timestamp` field is of `timestamp` type a

[2021-02-05 22:55] rapoth commented on #351
Thank you for opening this issue @andrei-ionescu!

I'm copying some context from #329 for easier readability

From: @imback82

From: @andrei-ionescu

From: @imback82

From: @andrei-ionescu

[2021-02-05 23:05] andrei-ionescu commented on #342
This is a great proposal. I would suggest to have an Epic for it where to include the work that needs to happen. From the top of my head it will require:

1. Change in the public API
2. Refactoring the core part of Hyperspace
3. Each type of index has its own particularities and needs to be understand
    1. How it is created
    2. How it gets updated
    3. How to manage it
    4. Hybrid scans o

[2021-02-05 23:55] rapoth commented on #351
I have some minor questions:

1. What is the query pattern here? Filter queries only or even join queries?
2. Since you are referring to hive-partitioning, let us take a simple example.
   - Imagine we are doing this on a column with cardinality 100, then it'd create a hundred folders. Each folder will now have 200 buckets each. That would make it 100*200 files that need to be written.
   - When w

[2021-02-06 02:00] rapoth commented on #342
@andrei-ionescu Yep! We have an epic tracking this work #157 (we are using ZenHub so we can see all the linked issues).

The goal is to add a few index types so we can flesh up all the generality and change the design abstractions as needed. What I've requested @apoorvedave1 to do was to update this issue with a detailed break-down of all the steps. He will most likely get to this early next week.

[2021-02-08 15:16] andrei-ionescu commented on #351
I don't think this matter too much. In any of the two cases, in the best case, the plan gets transformed into reading only the indexes instead of the datasets. Can you bring more light why this matters in your opinion?

Let me put my point of view in this area...

1. The use case of an index is for **reading purposes**. An index shows its power at read time. If there is no performance improvement

[2021-02-08 22:57] apoorvedave1 opened #352 "[PROPOSAL]:"
## Problem Statement
Supporting an alternate version of join rule: JoinIndexRuleV2. This would allow independently using indexes on either side of an eligible Join node.

## Background and Motivation
`JoinIndexRule` Behavior and Limitations:
- works on both sides of the join at the same time. It doesn't work independently on both sides, limiting the possibility of shuffle elimination on just one s

[2021-02-10 03:51] sezruby commented on #351
@andrei-ionescu could you share the plan of the query?

With the current version of Hyperspace, you could create these indexes for your join query:
* ts => indexed column (ns, id) included columns ( all other columns (required for the result) )
* dismat => indexed column (ns, id), included columns (other_id)

These 2 indexes will remove 2 shuffles for join.

You can use the filter index as you tes

[2021-02-11 13:43] arleycg opened #356 "Error: java.lang.NoClassDefFoundError: org/apache/spark/sql/delta/files/TahoeLogFileIndex"
I'm executing Hyperspace v.0.4.0 on a Data Databricks Cluster 6.4 (includes Apache Spark 2.4.5, Scala 2.11) using "com.microsoft.hyperspace:hyperspace-core_2.11:0.4.0"

When I create an index using a dataframe from parquet source it works 100%, but when trying to create an index using a dataframe from a Delta source I'm getting the following error even after configured spark.conf.set:

java.lang.N

[2021-02-11 18:24] andrei-ionescu commented on #356
Yes. Databricks Runtime uses a special built version of Apache Spark in which the Delta Lake implementation is totally different that the OSS Delta.

This is the reason that the `TahoeLogFileIndex` is not found when running Hyperspace on DBR. It may not be even use in their own Delta implementation.

I'm sorry for this bad news but to use Delta with Hyperspace you need to switch to OSS Spark.

[2021-02-12 22:53] apoorvedave1 commented on #334
@imback82 @pirz @thugsatbay @sezruby please take a look at the latest changes for gold standard

[2021-02-16 00:50] apoorvedave1 commented on #352
cc @imback82 @thugsatbay @AFFogarty @sezruby please have a look at the updates incorporated after discussion

[2021-02-16 08:16] andrei-ionescu commented on #351
@sezruby Thanks for confirming my current understanding of how Hyperspace works.

This is something that I want to avoid - duplicating the dataset once more (all columns means the whole dataset but bucketed and sorted differently).

But I guess the need of include all columns in the `includedColumns` is needed because:
1. In my query I used the `ts.*` (aka select all)
2. Hyperspace does NOT suppor

[2021-02-16 17:32] nikhilsimha opened #359 "[FEATURE REQUEST]: Hyperspace indexing on s3 based data."
**Feature requested**

As a **developer at Airbnb**, I want **to be able to index over s3 based scan nodes**, in order to **create hyperspace indexes**.

I am not entirely sure that s3 is the reason why I see the following error.

[code]

I am not sure because, looking at the code that throws the exception, I don't see anything specific to s3 in the `isLogicalRelation` function.
[code]

**Acceptan

[2021-02-16 17:38] imback82 commented on #359
@nikhilsimha Could you share how you constructed the `DataFrame` that you passed to `createIndex`?

[2021-02-16 18:26] nikhilsimha commented on #359
Wow, thanks for the quick reply!
Here are the relevant code snippets:
[code]

The `leftDf` comes from a simple scanQuery of a hive table(T) based on s3 - `select * from table T where ds > 'x' and ds < 'y'`.

[2021-02-16 18:32] imback82 commented on #359
Oh, you cannot have a filter in the dataframe from which you are trying to create an index. You should be able to create an index if `leftDf` is simply `spark.table("table")`.

We are tracking to support materialized view here: https://github.com/microsoft/hyperspace/issues/186

[2021-02-16 18:40] nikhilsimha commented on #359
I see. That makes sense. This is not an s3 issue then? If I restructure my code to save the relation to a table and execute the join, it should work?

[2021-02-16 18:45] imback82 commented on #359
I don't think this is s3 related issue. As long as you create an index from a relation (no filter, etc.), it should work. Please let me know if you encounter any other issues.

[2021-02-16 22:49] sezruby commented on #352
Looks good to me! Could you update the PR accordingly?

Btw, if you get a chance, could you check if BHJ removal condition works for upper layer joins ? (one child is an output of another join..?) Please refer this plan: https://github.com/microsoft/hyperspace/pull/124#discussion_r572462083

[2021-02-17 18:04] imback82 opened #360 "[FEATURE REQUEST]: Improve source provider API by introducing SourceRelationMetadata"
Currently, `FileBasedSourceProvider` can return `FileBasedRelation` given a `LogicalPlan`, where `FileBasedRelation` can implement source-specific APIs such as `signature`, `allFiles`, etc.

Similarly, we should update `FileBasedSourceProvider` to return `FileBasedRelationMetadata` (which extends `SourceRelationMetadata`) based on a given `Relation` metadata, and move `refreshRelationMetadata` and

[2021-02-17 18:10] imback82 commented on #360
I will get to this when #272 and #358 are merged.

[2021-02-19 10:46] ashutosh-hs commented on #359
I was facing same issue. I changed the df preparation to reading the relation without any filter.
df preparation and index creation steps:

[code]

Now I am getting following error:
[code]

I am using :
python: 3.8
spark 3.0.1

[2021-02-19 16:51] imback82 commented on #359
@ashutosh-hs Hyperspace doesn't officially support Spark 3 yet (#85). Do you see the same error in Spark 2.4?

In any case, could you run `df.explain` and copy/paste the output here? (I am thinking depending on the catalog, the relation may be an unsupported one).

[2021-02-22 17:14] #318 closed

[2021-02-23 13:16] ashutosh-hs commented on #359
@imback82  I couldn't test it with Spark 2.4 yet. Will post it here when I have tested that.
 following is the output of df.explain(extended=True):
[code]

I am using :
python: 3.8
spark 3.0.1
hyperspace: 0.4

[2021-02-24 08:59] andrei-ionescu commented on #347
@rapoth, @imback82, @sezruby: I added a few more plans for hybrid scans - one for the append files and one for deleted files. Let me know if there is something off with them.

[2021-02-24 09:12] andrei-ionescu commented on #347
@rapoth, @imback82, @sezruby: There is an improvements that I need to address. The `fromDifferentBaseRelations` method inside the `ensureAttributeRequirements` needs to be modified.

Given the nested dataset

[code]

and this join

[code]

resulting in the following join plan over nested fields

[code]

the `fromDifferentBaseRelations` method will return false thus the join will not meet the crite

[2021-02-25 19:53] AFFogarty opened #366 "java.lang.NoSuchMethodError: org.apache.spark.sql.catalyst.plans.logical.Join.copy"
### Describe the issue
Calling `df.show()` after a join throws the error:

[code]

### To Reproduce
In Azure Synapse Analytics, run [Hitchhiker's Guide to Hyperspace (Scala)](https://github.com/Azure-Samples/Synapse/blob/main/Notebooks/Scala/Hitchhikers%20Guide%20to%20Hyperspace%20-%20Scala.ipynb) notebook.

Run the cells in order until you reach the cell which looks like this:

[code]

Running th

[2021-02-25 20:17] SynapsePOC opened #368 "[FEATURE REQUEST]: please do add support for derived columns in source dataset"
**Feature requested**
this feature request is based on issue we have experienced when running .createIndex method in scala.
Our source dataset has a few fields, which have format that looks like a day, but stored as string, we would like to expose same field as a date.

Currently, when we perform data ingestion from remote storage account using spark.read() call we tag to it a few expansion calls

[2021-02-26 00:22] thugsatbay commented on #366
[code]

Using this script locally on dev machine it works with OSS spark just fine.

[2021-02-26 00:25] thugsatbay commented on #366
Thanks to @apoorvedave1 we found out that in our internal [Synapse](https://msdata.visualstudio.com/HDInsight/_git/wildfire-spark?path=%2Fsql%2Fcatalyst%2Fsrc%2Fmain%2Fscala%2Forg%2Fapache%2Fspark%2Fsql%2Fcatalyst%2Fplans%2Flogical%2FbasicLogicalOperators.scala&version=GBwf99v201-ms-2.4&_a=contents) Spark build we have an added extra param hint `JoinHint` that is causing the issue.

[2021-02-26 06:18] sezruby commented on #347
@andrei-ionescu I think the problem is that canonicalized value of condition left is `none#556`, not `none#536`
Could you try to fix canonicalization of the condition expr properly (*if possible*), instead of using name?

[2021-02-26 11:45] andrei-ionescu commented on #347
@sezruby I don't know if that is possible without other changes. The `ensureAttributeRequirements(l: FileBasedRelation, r: FileBasedRelation, condition: Expression): Boolean` works with `FileBaseRelation` and the join condition `Expression`. If you look into the plan above, the condition uses the aliases (`cnt#556 = cnt#560`) that come from projection (ie: `nested#536.leaf.cnt AS cnt#556`) but the

[2021-02-26 20:42] sezruby commented on #347
Based on the field name might cause some confusion/problem if there are same column names on both left and right.
So I think we should keep trying use the id.

[2021-03-01 20:12] thugsatbay opened #370 "[PROPOSAL]: Refactor - Figure the approach to use scala functional design in codebase"
## Problem Statement
We are creating instance for case classes from create methods (using static method approach) to instantize a class based on certain values and conditions. However scala still allows you to declare the same class without the create method by using the internal `apply` method for the case class. This creates a semantic issue as we have two definitions of creating an instance of

[2021-03-02 15:09] andrei-ionescu commented on #347
@rapoth, @imback82, @sezruby

1. I updated the proposal above and added plans for hybrid scans, joins and most of the use cases.
2. The implementation for nested fields support is done in #365.

Kindly, please have a look into it.

[2021-03-03 15:14] andrei-ionescu opened #372 "[PROPOSAL]: Support indexes on nested arrays of struct"
## Problem Statement

Hyperspace does NOT support indexing over columns/fields of type array of struct.

## Background and Motivation

There are use cases where queries like the ones bellow can greatly benefit performance wise from Hyperspace's indexing.

[code]

[code]

## Proposed Solution

This design is based on the work of proposal #347 and #365.

Given the following dataset

[code]

[code]

[2021-03-04 12:17] JNKHunter opened #373 "JsonMappingException on index create and read"
Following directions here:
https://microsoft.github.io/hyperspace/docs/ug-quick-start-guide/

### Describe the issue
CreateIndex job completes but with error below. Subsequent access of indexes result in same error.
[code]

### To Reproduce
[code]

Job starts and completes but with the following error:
[code]

Subsequent read of index fails with same error:
[code]
Produces
[code]
### Expected beha

[2021-03-05 12:20] andrei-ionescu commented on #373
@JNKHunter Could you provide the parquet schema?

You could do it with a command like this:

[code]

It would also be very helpful to have the following:
- full stack trace of the error
- a few example rows
- the version of the `jackson-databind` library that is loaded in Cloudera CDH

The exact steps that you followed in your Cloudera CDH 2.6.3 cluster, I did on my local machine and in Databricks

[2021-03-11 14:41] andrei-ionescu opened #382 "Scala style does NOT allow 2021 Copyright"
We are now in 2021. Scala style check (`sbt clean compile`) should allow this:

[code]

Instead it fails with:

[code]

[2021-03-12 15:01] andrei-ionescu commented on #373
@JNKHunter Any updates on this ticket?

[2021-03-18 17:36] andrei-ionescu commented on #382
@imback82 Can you have a look at this issue?

[2021-03-18 19:28] imback82 commented on #382
Yea, we can update https://github.com/microsoft/hyperspace/blob/master/scalastyle-config.xml to support different years, but not sure if it's necessary: https://softwareengineering.stackexchange.com/questions/130478/what-copyright-date-for-an-update-to-an-open-source-project-from-last-year

But, I am not an expert on this and @rapoth should know better.

[2021-03-21 05:29] sezruby opened #387 "Check removed index log versions of time travel query index candidates"
Currently, time travel query optimization assumes all index log versions exist.
However, as most of index applications are based on the latest index log version, some of outdated version might be deleted by a user.
Therefore, we need to check the removed log versions and filter them out in the candidate log version list in `closestIndexVersion`.

ref:
https://github.com/microsoft/hyperspace/pull/2

[2021-03-22 06:17] #270 closed

[2021-03-22 12:52] andrei-ionescu opened #388 "Add Iceberg version history to IndexLogEntry for efficient time travel query"
Similar to Delta Lake, Iceberg has versioning and time travel capabilities. Similar to #272 work, the implementation of supporting Iceberg in Hyperspace can be improved.

[2021-03-22 13:10] andrei-ionescu commented on #382
I'm not expert either.

From [Wikipedia / Copyright notice](https://en.wikipedia.org/wiki/Copyright_notice):

What I know, and the way I do understand it is that the "publication" means the file.

In the case of a new file with code I would say that it would have to be the year when the file was created. In the case of updates to already existing file the year should remain untouched.

[2021-03-26 20:51] apoorvedave1 opened #391 "Unable to change hyperspace system path to a non-default file system"
### Describe the issue

Changing hyperspace location to non-default file system using ```"spark.hyperspace.system.path"``` fails for non-default file systems. This is reprodicible, for example, on a databricks cluster where dbfs is the default file system and user tries to set index root to wasb or abfs

### To Reproduce

1. Databricks cluster (dbfs file system)
2. spark.conf.set("spark.hyperspace

[2021-03-26 20:52] apoorvedave1 commented on #391
fix is same as #327

[2021-03-28 05:55] #391 closed

[2021-03-29 09:19] clee704 commented on #258
I'll work on this

[2021-03-29 10:12] clee704 commented on #382
Regardless of whether it's necessary or not, the current rule seems too strict. Let me take this.

[2021-03-29 10:17] clee704 commented on #257
Shouldn't this issue be closed?

[2021-03-29 16:04] imback82 commented on #257
Yes, closing.

Closed by #304

[2021-03-29 16:04] #257 closed

[2021-03-29 17:38] sezruby opened #397 "Option to clean up log files in vacuumIndex"
Currently, an index was removed & vacuumed, its log files are not removed after that.
So if a new index with the same index name is created, the log number is continued.
It was intended to keep the log files around (compliance reason)(https://github.com/microsoft/hyperspace/pull/389#discussion_r602940982)

However, this might cause some confusion when the new index is completely different from the

[2021-03-30 00:27] clee704 commented on #31
Is it still open?

[2021-03-30 00:29] clee704 commented on #67
Is it still open?

[2021-03-30 00:38] sezruby commented on #67
closed by #313

[2021-03-30 00:38] #67 closed

[2021-03-30 00:45] sezruby commented on #31
Closed by #77 & #89

[2021-03-30 00:45] #31 closed

[2021-03-30 01:33] clee704 commented on #271
Maybe I misunderstood the issue, but why is the order important? Why can't we simply XOR or even just add signatures?

Also, is there a specific reason we use String instead of byte[] and use md5Hex instead of md5 for signatures?

[2021-03-30 02:14] imback82 commented on #360
@clee704 do you want to work on this?

[2021-03-30 02:46] imback82 commented on #397
Whether we vacuum log files or not, we should update `getLatestStableLog` to handle the last vacuum operation correctly?

[2021-03-30 03:31] sezruby commented on #397
Created a quick fix #398

[2021-03-30 09:02] clee704 commented on #360
I'll take this

[2021-03-30 10:12] dmytroDragan opened #400 "Content.rec(..) in LogEntry is recursive function, but does not use tail rec optimisation"
### Content.rec(..) in LogEntry is recursive function, but does not use tail rec optimisation

[code]

It is a potential issue which in some day could give StackOverflowError.
I could quickly fix it.

[2021-03-30 10:19] clee704 commented on #32
Seems you can simply remove the override, because the default implementation will work just fine

[2021-04-01 02:28] sezruby commented on #271
@clee704 Yea I'm good with XOR approach & using byte[] (be aware of its format in JSON)

cc @imback82

[2021-04-01 02:51] #32 closed

[2021-04-01 03:15] #258 closed

[2021-04-01 05:43] clee704 commented on #271
Yeah, we should do proper HEX encoding/decoding when JSON is involved.

By the way, how about changing the signature from MD5 to SHA1 for a little more bits (128 vs. 160), and ultimately, shouldn't we make it easy to switch the underlying hashing algorithm?

[2021-04-01 23:15] sezruby commented on #271
Btw changing signature will break backward compatibility; so would be good to go with other breaking changes.

[2021-04-02 00:37] sezruby opened #405 "[PROPOSAL]: HyperspaceOneRule"
NOTE: This proposal is outdated and most of PRs are merged. Please refer the [PRs](#implementation)

## Problem Statement
Currently, Hyperspace supports 1 type of index - non-clustered CoveringIndex.
And there're 2 optimizer rule - FilterIndexRule, JoinIndexRule.

However, as we're going to introduce another types of indexes (e.g. bloom filter index, .. etc), it's hard to apply different type of i

[2021-04-02 03:58] imback82 opened #406 "[FEATURE REQUEST]: Compatibility test suite"
It's hard to keep track if the new release will introduce any breaking changes, mostly related to reading index metadata files.

It will be nice to have such a test suite to detect automatically.

One way to implement this is to create index metadata files from the previous release and save them in the repo, and run tests against them. If breaking changes are unavoidable, we disable the test and s

[2021-04-02 04:06] imback82 opened #407 "[Announcement]: master branch will move to support Spark 3.0."
The `master` branch is planned to move to have a dependency on Spark 3.0 after Hyperspace 0.5 is released; this indicates that Spark 2.4 will be supported by Hyperspace version 0.5.x. `branch-0.5` will be created at that time, and any critical bugs will be back-ported and new patch versions (e.g., 0.5.1, 0.5.2) will be released if necessary. However, there is no plan to back-port any new features.

[2021-04-02 09:20] clee704 commented on #271
I assume that the signatures are stored as JSON in users' data lake. Therefore, any change to the signature computation will  make existing signatures won't work. Am I right? Then how could you merge the PR #268? @sezruby

Do we provide some migration utility to update their index data?

[2021-04-02 13:10] rapoth commented on #271
@clee704 Migration utility is a great idea! Can you please open a feature request and link ot here so we can keep track of it? While it may not be necessary for the current version, I think as we move towards stabilization, it'd be useful to provide one for users so we don't always have to worry about breaking changes.

[2021-04-02 15:42] #382 closed

[2021-04-04 16:55] sezruby opened #408 "Support time travel query optimization with append-only Hybrid Scan"
Follow up issue of #389

Currently, time travel query optimization is applied only if Hybrid Scan for both appended files and deleted files are enabled.
However, even with append-only Hybrid Scan, we could handle the case that their diff only has appended files.

For example,
delta table version 1, index log version 3 => a, b (file)
delta table version 2 => a, b, c
delta table version 3, index log

[2021-04-05 05:34] #387 closed

[2021-04-05 11:31] ashishchoksi opened #409 "Hyperspace not using Index which I created"
I have created an index on one Dataframe, not on another.
I am performing a join operation on two data frames on the index column where one has an index and another doesn't have.

while using API "explain" I haven't seen the index on the physical plan though I have created an index on one data frame.

Does Hyperspace only use an index if both data frames have on the particular column? or Is there

[2021-04-05 12:44] clee704 commented on #409
It seems Hyperspace uses indexes for joins only if both children have them. However I couldn't find whether it only supports inner joins or not. Currently it only supports equijoins or joins with a conjunction of equality functions (A = B AND C = D ...).

[2021-04-05 13:26] clee704 commented on #95
Is this still the case? I can't find where the Spark LogicalPlan is serialized and stored with indexes.

[2021-04-05 13:35] clee704 commented on #271
@rapoth [Release notes](https://github.com/microsoft/hyperspace/releases) state that whenever there are breaking changes, indexes should be "reconstructed". Does it mean that users should manually create indexes again? Because refreshAction won't work because it can't load the previous version's IndexLogEntry, or weird things can happen if it can (e.g. only the signature computation logic changed)

[2021-04-05 23:47] clee704 commented on #95
Seems to be a fixed issue since v0.2.

[2021-04-06 03:19] clee704 commented on #26
It seems FileContext.rename has the same semantics: the atomicity is implementation-dependent. Source: https://hadoop.apache.org/docs/stable/api/org/apache/hadoop/fs/FileContext.html#rename-org.apache.hadoop.fs.Path-org.apache.hadoop.fs.Path-org.apache.hadoop.fs.Options.Rename...-

I assume this is not a serious problem, as HDFS requires atomic rename for any HDFS compatible file systems: https://

[2021-04-06 03:39] clee704 commented on #290
I'm not sure because getIndexStat doesn't exist in the latest code base, but I think it's best to leave it to the user. If the user has 100 indexes, transposing won't help anyway. As the output is a DataFrame, the user should be able to do whatever suits him/her.

[2021-04-06 03:41] clee704 commented on #305
@rapoth I think it would be an interesting feature to implement. WDYT?

[2021-04-06 03:50] clee704 commented on #368
This is essentially creating an index on a view. Related issue: https://github.com/microsoft/hyperspace/issues/186

[2021-04-06 03:52] clee704 commented on #368
@SynapsePOC, if your index doesn't include those added columns, you can try to create an index on the base relation. Just to be sure: in your case, do you want to include those added columns in indexed columns or included columns? Or both?

[2021-04-06 04:01] clee704 commented on #370
I only see IndexLogEntry having such create() method which is recently added. Are there any other such classes?

For IndexLogEntry, both apply() and create() are being used, so we should first check if both can be unified. @imback82 Do you have any idea? Can we just rename create() to apply() and remove uses of .create()?

[2021-04-06 04:59] rapoth commented on #407
CC: @andrei-ionescu

[2021-04-06 05:01] rapoth commented on #409
@ashishchoksi Could you provide a code snippet that explains the scenario?

[2021-04-06 05:04] rapoth commented on #305
@clee704 I agree this is an interesting feature. I was thinking we could do this as part of #186 since the latter is much more general. What do you think?

[2021-04-06 06:19] clee704 commented on #305
I think a partial index or filtered index is a different thing, because materialization is not required for them. But as we only have covering indexes for now, there is little difference indeed.

[2021-04-06 09:50] andrei-ionescu commented on #407
I'll just layout my thoughts on it...

1. We need to make sure that the Spark APIs that Hyperspace uses is still available in Spark 3 and works as expected. I know the Catalyst APIs - even though the classes are `public` classes - are considered as "experimental" and not public as "public APIs" which are not supported by all Spark compute providers/vendors.
2. It will be needed to clearly state an

[2021-04-06 15:45] clee704 commented on #405
I'm relatively new to Hyperspace, so my view could be biased or based on a misunderstanding. So please take my words with a grain of salt.

First of all, I think it's good to have a single Spark optimizer rule that does the orchestration of applying different index-related rules. One minor thing is that the name "HyperspaceOneRule" could be a little bit confusing to someone without the background

[2021-04-06 17:09] imback82 commented on #370
I believe this would cause stack overflow (infinite recursion) since they have the same parameters. You can try and check.

Basically, we want to to call `create` when we create a new `IndexLogEntry` to insert the current Hyperspace version, but use the constructor if we construct the object from the log entry file to retain the Hyperspace version in the log. Maybe we can check `ObjectMapper` to s

[2021-04-06 17:52] andrei-ionescu commented on #370
To get rid of the recursion it is simple. In the helper constructor you use the `new` keyword.

The issue is that doing `IndexLogEntry(...)` will always resolve to the `case class` constructor and not the the helper one. It cannot be detected which one to use due to the fact that the signature of both is the same.

You could use `IndexLogEntry.apply(...)` to force it to go to the helper constructo

[2021-04-06 18:24] imback82 commented on #370
This seems reasonable to me since the intention should be clear from the caller side.

[2021-04-06 21:43] imback82 commented on #407
Thanks @andrei-ionescu for the feedback.

So, it comes down to two: 1) backport new features to 0.6 to support Spark 2.4, or 2) different JARs each targeting specific Spark. The reason we chose 1) was the upfront cost for supporting 2). However, I think 2) will pay the dividends in the long term; for example, if 3.1 is not supported, we have to cut another branch and support.

I will update this t

[2021-04-07 03:26] #360 closed

[2021-04-07 06:23] sezruby commented on #271
Yes

Right, usually it failed to create IndexLogEntry, but in that case we could reuse the previous index data.
I think we could catch the exception from building IndexLogEntry & trigger the utility to create a new log file.

[2021-04-07 06:32] sezruby commented on #95
@clee704 No, this issue is about the source plan.
Currently, we only allow "Relation" type of logical plan, and it's only one relation.
However, similar to "view" in db, a query plan can be supported - to do so, we need to find a way how to de/serialize the plan for refresh index. Previously it's done by class level serialization, but it's not compatible between spark versions - since the logical

[2021-04-07 06:36] sezruby commented on #290
@clee704 The API name was changed during the code review :)
It's statistic API for an index.

[2021-04-07 07:08] andrei-ionescu commented on #407
@imback82, I'm interested in this work but my focus at this moment is on completing the "Support nested fields" feature. It seems that it will take more time than I expected. It would be helpful for me to understand your timeframe (or the roadmap deadlines) on delivering the Spark 3 support.

[2021-04-07 09:04] andrei-ionescu commented on #342
@rapoth, @apoorvedave1: For file skipping indexing please have a look on the [XSkipper](https://xskipper.io/v1.2.1/) built by IBM.

[2021-04-07 14:22] clee704 commented on #370
By the way, it seems you can override the apply method of the companion object since Scala 2.12.2: https://github.com/scala/scala/pull/5816. So this works:

[code]

[2021-04-07 14:44] clee704 opened #410 "Scaladoc consistency"
Forked from #399. Maybe a super nit issue 😉

I'm okay with any options, but they must be applied consistently.

Identified inconsistencies during the review:
- Starting a description for a `@param` or `@return` with uppercase or lowercase
- Putting a period after a description for a `@param` or `@return`
- Duplicating Scaladoc comments for overriding methods

Here're my thoughts:
- Either uppercas

[2021-04-07 14:48] clee704 commented on #271
Hmm, okay. Now I see a need for a migration utility.

Blindly trying to create a log from JSON and catching an exception doesn't seem to be a good approach, because we can't be sure that the constructed log is valid. For example, if only the signature computation logic is updated between Hyperspace versions, the log will be created just fine but with invalid signatures.

[2021-04-07 14:55] clee704 commented on #95
I thought this was fixed in v0.2 because of the following lines in the release note:

Shouldn't supporting a general query plan, for #186 and #305, a separate issue? Because the main concern of the issue seems to be about incompatibility due to the use of a binary format.

[2021-04-07 15:11] clee704 commented on #290
So now it's Hyperspace.index? Because it returns a DataFrame, I still think it's better to leave transposing or any data manipulating steps to the user.

[2021-04-07 17:00] andrei-ionescu commented on #95
I also seen that the SerDe related code has been removed since https://github.com/microsoft/hyperspace/pull/325.

I would suggest to close this issue and create a new one with a better description of the issue that we want to fix.

I see more like a proposal than a bug so maybe is better to have it as a proposal. WDYT?

[2021-04-07 17:25] sezruby commented on #95
Yea, because of the compatibility issue, I replaced plan de/serialization with "Relation" approach in v0.2.0. Unused utility code is removed by #325.

As there's no feasible solution for plan de/serialization problem yet, let's keep this issue open.

[2021-04-07 17:39] andrei-ionescu commented on #95
@sezruby Ok. Then let's make a better description for the issue. You know the history of it but new contributors do not know it. I would like to have it better explained. In the description is a reference to a `404` file that has been removed 2 versions ago. Let's update de issue description with the history of it all. Thanks!

[2021-04-07 22:10] sezruby commented on #405
One problem is there's no metadata like table name/id & no way to check if the given df is applicable for indexes or not. Comparing column schema is less expensive than listing & comparing all source files.  In other words, we need to check & validate for all relations in a given plan for each index; it's same behavior with the current master.

Yea I tried this way at first 😁, but realized that if

[2021-04-07 22:52] sezruby commented on #410
Thanks for initiating this issue! I'm good with those suggestions. :)

[2021-04-08 06:14] clee704 commented on #405
I think the current way of matching relations and indices is not scalable, even if you do the column check first - it's still linear (in the number of indices) at best (or squared if you assume the number of relations in a query plan is also a variable), and requires all indices to be loaded in the memory although most of them might not be needed in the first place. A query plan with hundreds of r

[2021-04-08 06:21] clee704 commented on #95
We don't have any design yet about how we should support arbitrary plan indexing, and this issue seems to be a trivial part of that design.

[2021-04-08 07:01] sezruby commented on #405
We do this in Delta Lake or Iceberg signature calculation. But comparing column schema is still required before it because 1) comparing column schema is not expensive 2) anyway we need to load all index log entry to find applicable indexes.
The only way to reduce memory footprint is reducing the index log entry size. Especially Source Relation / file list - it's stored as a tree format, but after

[2021-04-08 07:03] andrei-ionescu commented on #95
The description is inaccurate or incomplete. I already give an example that the link in the description (https://github.com/microsoft/hyperspace/blob/master/src/main/scala/com/microsoft/hyperspace/index/serde/LogicalPlanSerDeUtils.scala) ends up with a `404`.

I you want and plan for this to grow and have a bigger community it is very helpful to put some more effort when creating, updating tickets

[2021-04-08 07:07] sezruby commented on #95
Relation approach is not covering a arbitrary query plan (e.g. with filter conditions or .. etc) = index view.
I'll update the description when I have the time.

[2021-04-08 07:40] andrei-ionescu commented on #410
I'm good with it. One step further is to implement the rules in `scalafmt` checker but I don't know if that is possible.

[2021-04-08 08:10] andrei-ionescu opened #411 "[FEATURE REQUEST]: Support indexes on nested maps"
## Feature requested

As a **data engineer, data scientist, developer**, I want **to be able to use indexing with maps**, in order to **improve query performance**.

## Acceptance criteria

- [ ] Create index over a nested map (keys & values)
- [ ] Use the index in the filter and joins in all use cases (append only, delete only, hybrid scans, etc)

## Success criteria

- [ ] Index created properly

[2021-04-08 13:10] clee704 commented on #410
It seems you can't, although you can specify the overall look and [style](https://scalameta.org/scalafmt/docs/configuration.html#docstringsstyle) of the Scaladoc comments.

[2021-04-08 19:33] sezruby commented on #405
As accessing remote storage is expensive, Hyperspace load all index log entries when it's required & cached it for reuse. I think index log entry is also kind of metadata, so creating a new metadata type is not proper design. Instead of that, we could reduce the size of index log entry, as I said in other comment.

The problem is that not all relations in query have the metadata. There's no timest

[2021-04-09 00:15] #366 closed

[2021-04-09 14:12] clee704 commented on #405
Caching is irrelevant here because it can be also applied to the logic I described. In the current implementation the caching unit is the entire indices in the system, which is not very efficient because if you create a new index or modify a single index in the system, the entire indices are loaded again. If we use a more fine-grained caching it can be naturally applied to the logic I described.

[2021-04-09 14:20] clee704 opened #413 "Bump Spark to 2.4.7"
Is there a reason that we can't bump the patch version?

I quickly checked and there was only one breaking test. Seems not serious.

[2021-04-10 07:40] sezruby commented on #405
It's in JoinIndexRanker & to remove the shuffle, we also try to find the (join condition columns = indexed columns) in JoinIndexRule.

Actually.. plan.equals is expensive operation.. it also compares children.

[2021-04-12 13:03] clee704 commented on #405
Thanks! I missed that there is a ranker for each rule.

An example of the scoring algorithm would be really helpful. What I don't quite understand is the part `planAfterApply = apply batch & calc score` in the scoring algorithm - is a batch supposed to work on all nodes in the plan or just the root node? If it works on all nodes, what's the point of recursion? If it works on the root node only, th

[2021-04-12 21:39] sezruby commented on #405
The batch is supposed to work *from the top node*. In FilterNodeCheck, `plan match`  check if the given plan is P => F => R or F => R. It does not check recursively.

I created NoOpBatch to move down w/o any application. Right now, there's no eligible index for children after applying an index to the parent node, but later we might have one.

[2021-04-13 08:11] clee704 commented on #407
If the changes between Spark 2 and 3 are not significant in terms of API, public or internal, then we can go with the option 7, producing JAR for each Spark version. I'll take a look if this is feasible.

[2021-04-13 08:39] clee704 commented on #405
Oh, didn't know that you pushed a new commit between my comments. Now the condition makes sense. So it is the purpose of NoOpBatch? Since I didn't quite understand the role of NoOpBatch in the algorithm.

[2021-04-13 08:50] clee704 commented on #405
I think I can move on the PR review, as the points I raised can be addressed later (e.g. CandidateIndexCollector). Please feel free to let me know if you want a review for the draft.

[2021-04-14 15:59] ashishchoksi commented on #409
closing this out.
deleting the index and recreating works for me.

[2021-04-14 15:59] #409 closed

[2021-04-15 21:14] rapoth opened #420 "[FEATURE REQUEST]: Graceful Handling of Breaking Changes in Hyperspace"
**Feature requested**

As Hyperspace is still at its inception, some core aspects have not been finalized. As users request new features, it is possible that Hyperspace needs to change the meta-data to accommodate these new features. However, this would break existing users in that they would have to recreate their indexes. While this is acceptable to most users, there are cases where index creati

[2021-04-19 04:52] Priyanshu-Mittal commented on #356
Are there any active plans for resolving this issue ?

[2021-04-20 16:50] imback82 opened #426 "Update Scala Coding Style guideline for scalafmt"
Update https://github.com/microsoft/hyperspace/blob/master/docs/coding-guidelines/scala-coding-style.md on how to set up `scalafmt` in IDE so that contributors get consistent result.

[2021-04-26 18:10] imback82 opened #432 "[Bug] Hyperspace.explain does not display "Indexes used" if indexes are incrementally refreshed"
### Describe the issue
If indexes are incrementally refreshed, `Hyperspace.explain` will not display `Indexes Used` even if indexes are applied.

The culprit is https://github.com/microsoft/hyperspace/blob/ad4b3af899f402544f04840ae7f4204e0627018a/src/main/scala/com/microsoft/hyperspace/index/plananalysis/PlanAnalyzer.scala#L216 and https://github.com/microsoft/hyperspace/blob/ad4b3af899f402544f048

[2021-04-26 18:18] imback82 commented on #413
Interesting, which test was failing?

[2021-04-27 07:49] clee704 commented on #413
I tried it again and this time there was no failing test.

[2021-04-28 06:14] #407 closed

[2021-04-28 06:19] imback82 commented on #407
We will go with option 7 thanks to @clee704 (#421). (I think we need to change the JAR names to conform to Maven spec, but I will check and take care of them).

[2021-04-28 07:26] clee704 commented on #413
Current versions:
- Spark 2.4.2
- Spark 3.0.1

Latest versions:
- Spark 2.4.7
- Spark 3.0.2

[2021-04-28 07:28] clee704 commented on #413
Can we use the latest versions? Is Azure Synapse Analytics blocking this?

[2021-04-28 15:22] imback82 commented on #413
Any reason we want to use the latest patch version? Do we need to keep track/update this every time a new patch version is released?

[2021-04-29 07:05] clee704 commented on #413
Interesting question. I've never questioned that before. Maybe you are asking because we're not a direct user of Spark, and those bug/security fixes really don't matter for us?

In the long run, the latest patch version will most likely be the most used version among versions of the same major/minor version. So we should aim for maximum compatibility for the latest patch version. I don't think we

[2021-05-07 08:07] andrei-ionescu opened #440 "Cannot run Spark 3 tests in IntelliJ IDEA"
### Describe the issue
I get the following error when trying to run the `E2EHyperspaceRulesTest` tests:

[code]

### To Reproduce

To setup Hyperspace project in IntelliJ IDEA I followed steps provided by @imback82 in https://github.com/microsoft/hyperspace/pull/434#issuecomment-829801997.

1. Marked `src/main/scala` and `src/main/scala-spark3` as sources.
2. Marked `src/test/scala` and `src/test/

[2021-05-07 18:11] imback82 commented on #440
Thanks @andrei-ionescu for reporting this. @clee704 Could you take a look when you get a chance? It's crucial to get this running in IntelliJ since most of us use it for development/debugging.

[2021-05-07 21:38] andrei-ionescu commented on #440
There is another nuisance: after setting the project according to @imback82's https://github.com/microsoft/hyperspace/pull/434#issuecomment-829801997, whenever I close the IDE everything needs to set once more. I need to remove once more the `root` and `root-build` modules and mark all the sources and tests. This takes time and is a nuisance.

[2021-05-09 13:23] clee704 commented on #440
Are you sure that the `.idea` directory is created in the repository root and the content of the directory is retained when you close and open the IDE again? For me, I don't have to do such things and everything was fine. Also, you don't have to remove `root-build` project (at least for me).

[2021-05-09 13:36] clee704 commented on #440
I'm looking into the issue. As a workaround, you can use the built-in sbt shell and type
- `testOnly *E2EHyperspaceRulesTest` to run the test for all subprojects (or the current project set by the `project` command)
- `spark3_0/testOnly *E2EHyperspaceRulesTest` to run the test for Spark 3.0
- `spark2_4/testOnly *E2EHyperspaceRulesTest` to run the test for Spark 2.4

[2021-05-10 11:39] andrei-ionescu commented on #440
@clee704, @imback82, @sezruby, @rapoth

I think more time has to be invested to make it easier for developers to contribute to the project.

Getting back to the issues discussed here...

1) I do have the "Use sbt" option enabled but that does NOT work at all if you need to debug a test and have some breakpoints. In my case the tests don't even start when I click "Debug".

2) I used the steps provi

[2021-05-10 14:10] andrei-ionescu commented on #440
@clee704, @imback82, @sezruby

I tried today to get back to the "Nested fields" support in Hyperspace but I cannot get the tests green.

I hava a test that seems to fail on a specific Spark version.

[code]

1) I don't know how to run a test just for a specific Spark version.
2) After the latest addition of support for Spark 3.1, the solution that I previously used to debug is no longer working.

[2021-05-10 15:15] clee704 commented on #440
You should be able to use the sbt shell to run and debug a specific test. Set the project to spark2_4, spark3_0, or spark3_1 in the sbt shell by `project <project name>` and any task will be performed for the selected project. Or you can prefix a task with `<project name>` to run a task for a specific project. Example: `spark3_1/testOnly *E2EHyperspaceRulesTest`.

[2021-05-11 15:50] clee704 commented on #440
I've tried for several hours to make IntelliJ work with our sbt build but it just didn't work however I tried. I even removed symlinks and copied the source directory for each subproject (which is mapped to a module in IntelliJ), but it did not solve the test issue (it did solve other issues - without symlinks, you don't have to manually remove the `root`/`hyperspace-sources` modules and set sourc

[2021-05-12 07:36] andrei-ionescu commented on #440
Please, don't close this issue. Or if you close it please create another ticket for the creation of the documentation explaining the way to develop on Hyperspace and IntelliJ IDEA (is should contain the way to debug a test - some screenshots would be great also).

It is not the common way of developing and because of that it should be documented.

Not helping the community and letting them bang th

[2021-05-12 07:46] clee704 commented on #440
As I said already, if you use the sbt shell in IntelliJ, everything works fine, including debugging with breakpoints. It's been only two months since I started developing in Scala so it should be easy for anyone developing in Scala.

[2021-05-12 08:32] andrei-ionescu commented on #440
@clee704 In my case is **NOT** working - even if I use the sbt shell inside IntelliJ. When I add breakpoints an run the test from sbt shell it does **NOT** stop to the break points. If it works for you it doesn't mean it works for every one.

The only way to make it work was to run sbt shell in terminal with debug ports open, then connect from IntelliJ IDEA with a remote debug configuration, then

[2021-05-12 14:43] clee704 commented on #440
I just realized that I omitted a crucial information for debugging in IntelliJ. You should set `Test/fork` to `false` in the sbt shell to use breakpoints. This can be done

1. `set Test/fork := false` if you've set the current project, or
2. `set <project name>/Test/fork := false`, e.g. `set spark3_1/Test/fork := false`

This is because with `Test/fork` set to true tests will be run in a forked JV

[2021-05-13 14:59] clee704 opened #441 "[PROPOSAL]: Data Skipping Indexes"
## Problem Statement

Add support for data skipping indexes.

## Background and Motivation

Hyperspace has been supporting hash-partitioned covering indexes only. Covering indexes are good for some workloads, but we should have more index types to facilitate a broader range of use cases.

## Proposed Solution

Refactor existing code by moving covering index specific code into a single implementati

[2021-05-14 09:57] andrei-ionescu commented on #441
@clee704, @imback82, @sezruby, @rapoth: There is another OSS data skipping index called [XSkipper](github.com/xskipper-io/xskipper/) which has been developed by IBM. Maybe we can just plug it in in Hyperspace.

[2021-05-14 19:34] imback82 commented on #441
Thanks @andrei-ionescu for the info. I just took a quick look at it and it doesn't seem straightforward to plug it in (@clee704 / @sezruby please correct me if I am wrong here), and since the project is fairly new, I am not sure if it's a good idea to have a dependency on it at this stage. Also, the index maintainence scenario seems different (no support for concurrent updates, etc.) But we will r

[2021-05-14 19:51] sezruby commented on #441
@andrei-ionescu I've skimmed overall XSkipper codebase and I don't think we could easily plug it in. We are planning to support similar features - BF, (min/max), partition elimination index (similar to valueList). FYI @clee704 is working on this data skipping feature now.

[2021-05-17 15:03] clee704 commented on #441
Implementation added as #443.

[2021-05-18 14:32] andrei-ionescu commented on #441
This a good direction to work on. Skipping indexes are very helpful in the context of very big datasets: **terabytes** of data spanning across **millions** of files.

The start of the proposal is good but it needs more information and we need to have at least some parial answers to the following questions:
- Will the index be bucketed?
- What's the order inside the index? Is it ordered by the file

[2021-05-19 04:14] sezruby opened #444 "Scoring applicable indexes"
ApplyHyperspace (#405) rule refactoring introduces a scoring function for each index application so that we could rank and select an index with higher performance benefit, if there are more than one applicable index.
With an initial version, it's implemented with simple scoring functions, but we will enhance it later.

#### JoinIndexRule - CoveringIndex
- for left child: 70 * (common bytes / sourc

[2021-05-20 02:43] mmuru-w commented on #373
I am getting the same exception. Here is the full stack trace.
`
An error occurred while calling o87.createIndex.
: com.fasterxml.jackson.databind.JsonMappingException: Illegal character ((CTRL-CHAR, code 0)): only regular white space (\r, \n, \t) is allowed between tokens
 at [Source: (StringReader); line: 172, column: 19] (through reference chain: com.fasterxml.jackson.module.scala.deser.Generic

[2021-05-27 17:24] wentaowu commented on #405
@sezruby Thanks for this great proposal! I have a couple of thoughts/comments:

1. Maybe call it "OneHyperspaceRule" instead of "HyperspaceOneRule"?

2. Loading all candidate indexes from the storage system may be too expensive. Perhaps need to keep the index metadata somewhere else (e.g., using a catalog table/file) for a fast look-up and filtering out irrelevant indexes quickly. When there are i

[2021-05-27 17:46] sezruby commented on #405
@wentaowu Thanks for the feedback! Actually this proposal is bit outdated while working on PRs and some of PRs are already merged.

1. renamed `ApplyHyperspace`
2. @clee704 also pointed it out, and created discussion thread - https://github.com/microsoft/hyperspace/discussions/415. Due to priority, we will address it later as it requires additional metadata & refactoring.
3. renamed "ScoreBasedInd

[2021-06-01 18:25] imback82 opened #452 "[FEATURE REQUEST]: Publish SNAPSHOT JARs as a CI process"
**Feature requested**
It will be nice to publish SNAPSHOT JARs daily (when there are new commits to master).

**Acceptance criteria**
SNAPSHOT JARs are available here: https://oss.sonatype.org/content/repositories/snapshots/com/microsoft/hyperspace/

[2021-06-01 18:26] imback82 commented on #452
I need to check the secure way to provide the sonatype credential.

[2021-06-03 16:27] rubybear commented on #373
I am having the exact same issue as @JNKHunter.

I believe it has something to do with where the indexes are stored or how they are stored. In my case they are stored in /users/hive/warehouse/indexes.

hs.indexes returns the illegal character error. If I go ahead and delete my indexes hs.indexes returns an empty dataframe.

If I delete everything from /indexes and run the sample code I can success

[2021-06-03 16:28] andrei-ionescu commented on #441
@clee704, @sezruby Could you go through this proposal again and add more information in regards to the raised concerns above? Thanks!

[2021-06-03 20:20] sezruby commented on #373
Looks like this is the same issue of https://github.com/microsoft/hyperspace/discussions/431
I tried to reproduce the issue using PySpark and failed. It would be good if anyone can provide how to reproduce the error.

Seems it's jackson compatibility issue as I succeeded to load the problematic index metadata file (under _hyperspace_log) on my local env.

@clee704 Any idea? do you think your refac

[2021-06-03 21:06] rubybear commented on #373
I can provide the _hyperspace_log for my test case if that helps.

sampleData:

[code]

Error:

 at [Source: (StringReader); line: 1331, column: 34] (through reference chain: com.fasterxml.jackson.module.scala.deser.GenericMapFactoryDeserializerResolver$BuilderWrapper["source"]->com.fasterxml.jackson.module.scala.deser.GenericMapFactoryDeserializerResolver$BuilderWrapper["plan"]->com.fasterxml.jac

[2021-06-03 21:09] mmuru-w commented on #373
What version jackson-databind library is compatible with Hyperspace?

[2021-06-04 14:22] clee704 commented on #441
No, because the index data is expected to be very small compared to the source data and a full scan of index data (or using a cached one) should be fine. For example, suppose we have 100 TB of data, stored in files, each file being 1 GB. It means there are 100,000 files and our index data has 100,000 rows. It might seem large, but actually it's not compared to the 100 TB of data.

If a full scan t

[2021-06-16 14:15] clee704 opened #463 "[Bug] Deleted indexes are applied / not shown"
### Describe the issue
Deleted indexes are applied / not shown.

### To Reproduce
Run the following code in `spark-shell`.

Scenario 1 - the bug occurs in the current master:
[code]

If we change the order of the last two lines, now deleted indexes are not shown.

Scenario 2 - the bug occurs both in v0.4.0 and the current master:
[code]

### Expected behavior
In the first scenario, the index shoul

[2021-06-16 18:32] #345 closed

[2021-06-17 18:38] #463 closed

[2021-06-18 20:32] sezruby commented on #426
@paryoja Could you update the documentation for IntelliJ/scalafmt? while you're setting up it

[2021-06-22 12:30] clee704 commented on #342
Closing old issues. Further discussions can continue in #441.

[2021-06-22 12:30] #342 closed

[2021-06-22 12:34] clee704 commented on #341
Closing old issues. Further discussions can continue in #441 and #405.

[2021-06-22 12:34] #341 closed

[2021-06-22 18:24] imback82 commented on #345
@sezruby let's include the PR # (or link it) when you close an issue.

[2021-06-22 18:31] imback82 opened #469 "[FEATURE REQUEST]: Update azure-pipelines.yml to build on Windows"
**Feature requested**

Update azure-pipelines.yml to add building on Windows.

**Success criteria**

CI will build/test on Windows as well.

[2021-06-22 18:34] imback82 commented on #469
I have a PR open for this (#376), but it needs to be updated. Anyone can pick this up if interested (just leave a comment in #376 that you will be working on it).

[2021-06-23 04:14] clee704 commented on #345
I think it's #364 and #367.

[2021-06-24 00:22] paryoja commented on #469
I've made PR for this issue. #470  Please review it.

[2021-06-24 03:03] imback82 commented on #469
Thanks @paryoja!

[2021-06-24 04:02] paryoja commented on #452
While doing #470, I noticed that the azure pipeline has "Publish Hyperspace artifacts" task to publish artifacts.
Isn't it working now? Or can't we reuse it for this issue?

[2021-06-24 17:16] #469 closed

[2021-06-28 08:10] andrei-ionescu commented on #441
Can you link me to the updated example? I couldn't find them. Thanks

So, it will add a new skipping index entry in the index with `/data/p999999, min: -999999, max: 999999` overlapping with the majority of the already existing entries. No rebuild.

Depending on the Spark cluster size, 10 millions of files can be easily processed in parallel. Given the biggest Spark cluster size can hold up `8000`

[2021-06-28 20:35] clee704 opened #476 "Enforce/check scalafmt during build/CI"
We're already doing it for scalastyle. Doing it also for scalafmt would be nice as we've seen inadvertent formatting changes distracting code reviews.

[2021-06-30 06:44] paryoja commented on #96
Is it enough to check only they compile without errors? Or should it be run without exception?

[2021-06-30 07:47] paryoja commented on #118
Why this sentences are struck out? Is there any API to show the list of versions? Or is it another feature suggestion?

[2021-06-30 08:24] sezruby commented on #118
Yea `hs.index("indexName")` was added after the sentences.

[2021-07-02 03:43] paryoja commented on #118
@sezruby Is there any API shows history of that index? `hs.index("indexName")` seems to show only the latest stable log.

[2021-07-02 07:40] sezruby commented on #118
No but there's an internal API - `getIndexLogEntry` and you can use `getIndexContentDirectoryPaths`.

BTW I realized that the following description is invalid now.

hs.deleteOldVersions("indexName", Seq(0, 1, 3)) // remove v__=0, v__=1, v__=3 dir

There are several problem here:
- "version" doesn't mean the index data directory number (v__*)
- one index log entry can refer multiple "v__*" director

[2021-07-05 07:43] clee704 opened #477 "Deprecate IndexConfig in favor of type-specific configs"
Up to v0.4.0, users can create a single type of index using `IndexConfig`.

We are adding more index types. When there are multiple index types, `IndexConfig` can be confusing to users because it is actually just for a single type of index. Therefore, it would be better to change the class name of `IndexConfig` to `CoveringIndexConfig` to match the name of the index it creates, `CoveringIndex`.

S

[2021-07-08 05:00] paryoja commented on #118
@sezruby Ok. I will work on this.
Since I am not aware of Delta Lake time travel query, I will first do the simple implementation ### first and ask you about how time travel query works.

[2021-07-20 22:14] rubybear commented on #373
Could this help figure out the issue we are having?

https://github.com/elastic/elasticsearch-hadoop/issues/1198#issuecomment-429340442

[2021-07-21 10:17] clee704 opened #480 "Results change after Hyperspace is enabled"
### Describe the issue
Results change after Hyperspace is enabled.

### To Reproduce
[code]

### Expected behavior
Column B contains the source file names.

[2021-07-21 10:20] clee704 commented on #480
Possible fix:
1. If index lineage is disabled: Don't apply CoveringIndex if input_file_name() is used in the query.
2. If index lineage is enabled: Replace input_file_name() with source file paths using the file IDs.

[2021-07-28 09:46] clee704 opened #484 "Spark 3.1 on Windows build test issue"
Here's the logs: https://dev.azure.com/ossspark/78bda1b1-2d15-4e6d-8327-a916f6cb1f9f/_apis/build/builds/2223/logs/48

Newly added tests are failing only for Windows / Spark 3.1.

The exception is: `java.lang.UnsatisfiedLinkError: org.apache.hadoop.io.nativeio.NativeIO$POSIX.stat(Ljava/lang/String;)Lorg/apache/hadoop/io/nativeio/NativeIO$POSIX$Stat;`

I suspect this is because Spark 3.1 depends on

[2021-07-29 06:37] clee704 commented on #441
It is in the PR description: https://github.com/microsoft/hyperspace/pull/461. I've also updated the issue description.

That's right. Incremental refresh will only add index data files unless there are deleted source data files. If there are deleted source data files, the index data is rewritten without entries for those deleted files, but this should be a cheap operation compare to reading all s

[2021-08-11 19:32] sezruby commented on #373
@alex-shchetkov Thanks a lot for providing the fix👍

@JNKHunter @mmuru-w @rubybear
Could you try with the fix when you have a chance and reopen the issue if it doesn't work?
Thank you all!

[2021-08-11 19:32] #373 closed

[2021-08-11 19:35] sezruby commented on #297
This issue can be resolved by #489.

@mmchougule Could you try with the fix and let us know if there's still the issue?
Thanks!

[2021-08-11 19:35] #297 closed

[2021-08-11 21:57] rubybear commented on #373
I tested it and got the following error:

Cannot parse JSON in viewfs://hdfs_directory/hyperspace/indexes/index1/_hyperspace_log/1: Unexpected token (END_OBJECT), expected FIELD_NAME: missing property 'type' that is to contain type id  (for class com.microsoft.hyperspace.index.Index)
 at [Source: {
  "name" : "index1",
  "derivedDataset" : {
    "properties" : {
      "columns" : {
        "indexe

[2021-08-11 22:59] sezruby commented on #373
@rubybear The current master has a breaking change to support different index type; you need to remove the indexes previously built and create again.

[2021-08-12 03:37] sezruby commented on #373
Could you delete the directory and try again? Seems the JSON is created with old Hyperspace version.

[2021-08-13 17:21] rubybear commented on #373
Thank you that worked!

[2021-09-02 03:30] paryoja opened #492 "[FEATURE REQUEST]: Create helper function to check whether index is actually used in the plan"
**Feature requested**

I need a function to check whether Spark actually used an index I intended to use.
It could be helpful to understand the behavior of hyperspace indexes and optimize the behavior of it.

**Acceptance criteria**

Describe what you consider (e.g., functionality requirement) has to be true to mark this feature as complete

- [ ] Check whether a LogicalPlan has any use of any hyp

[2021-09-02 22:53] sezruby commented on #492
`hs.explain(df)`  returns used indexes, but I think we need to improve the output result so that it shows the used log version & the number of times each index applied.

[2021-09-10 19:45] panish-git commented on #356
Similar issue with OSS Spark -> spark 3.0.1, Scala - 2.12, Delta - 2.12_0.7.0 using Hyperspace version 3.0 (for spark 3.0 , built from source). Please update.
Py4JJavaError: An error occurred while calling o130.createIndex.
: java.lang.NoClassDefFoundError: org/apache/spark/sql/delta/files/TahoeLogFileIndex
	at com.microsoft.hyperspace.index.sources.delta.DeltaLakeFileBasedSource.isSupportedRelati

[2021-09-13 21:17] sezruby commented on #356
@panish-git Could you check if delta dependency is added properly and also try to test using delta 0.8.0?

[2021-09-15 02:08] paryoja opened #494 "Notice user that indexes are not applied because indexed data protocols are different."
### Describe the issue

I made an index using data path from "abfss://..../my_data".
And executed a query using spark.sql().
Index was not applied to the query even though it is applicable.

I think it is because I created with the query below where location starts with "abfs://"

var query = "CREATE TABLE " + qualifiedTableName + s" $schema USING " +
            s"${format.toUpperCase()} "

[2021-10-06 07:37] baibaichen opened #498 "Failed to debug Scala Test in IntelliJ"
### Describe the issue

It's  ok to run test in sbt, but failed to run/debug scala test in IntelliJ.

### To Reproduce

1. Import into intelliJ as describled in [readme](https://github.com/microsoft/hyperspace#using-intellij)
2. Pick certain test (e.g. `DataFrameWriterExtensionsTest`), run it

Get the following exception
[code]

I am not familiar with sbt, but I think it could be fixed by excludin

[2021-10-12 06:59] paryoja opened #503 "[FEATURE REQUEST]: Enable hyperspace with SparkSessionExtention"
Need to add a functionality to enable Hyperspace with `SparkSessionExtention` to avoid change in user code.

**Acceptance criteria**

Describe what you consider (e.g., functionality requirement) has to be true to mark this feature as complete

- [ ] Enable Hyperspace with SparkSessionExtention

**Additional context**

### Discussed in https://github.com/microsoft/hyperspace/discussions/499

<div t

[2021-11-02 22:33] paryoja opened #511 "Create a trait for shared functions across tests"
Some functions are just copied and used across test files.

How about extracting them as a trait? It could be done separately or in this PR.

_Originally posted by @clee704 in https://github.com/microsoft/hyperspace/pull/504#discussion_r739965807_

[2021-11-15 18:53] #503 closed

[2021-12-03 17:03] MironAtHome opened #513 "[PROPOSAL]: support not implementation of delta lake or some other physical manifestation, but V2 data source of Spark"
## Problem Statement
A clear and concise description of what the problem is e.g., *I have this scenario and Hyperspace does not work [...]*
There seems to be a gaping hole in the architectural approach in designing spark physical data access. It is somewhat natural and totally inline with how developer would plunge into delivering a working solution. Unawares though of a greater design picture.
I

[2021-12-03 20:31] MironAtHome opened #514 "[FEATURE REQUEST]: Please consider extending indexing support to non - spark implementation of structured storage, specifically, stand - alone Java and Rust implementation of Parquet"
**Feature requested**
Similar to Access database, an SQL Server engine counterpart, running in process of application, please consider extending indexing support to Spark counterpart, currently provided as libraries, over delta lake. Of those two notable implementations are Java DSR/DSW ( stand - alone reader and writer ):
https://github.com/delta-io/connectors
and Rust delta lake implementation:

[2021-12-09 22:57] sezruby opened #515 "[PROPOSAL]: ZOrderCoveringIndex"
NOTE: This is an issue for tracking Z-order covering index.

The initial implementation is ready in #495.

## Problem Statement
Currently, CoveringIndex data is stored as bucketed, and it just sorted within a bucket.
So it is usually less effective for filter queries compared to fully sorted data.
In addition, the index is applied when a given query has conditions only with the first indexed colum

[2021-12-11 20:05] MironAtHome commented on #413
3.2 is out, will test it out before tomorrow EOD.

[2021-12-13 15:33] clee704 commented on #513
I agree that it could be more beneficial for the community in general in the long run if Spark supports index as a concept in Data Source V2 API. Actually, there is already work going on ([SPARK-36525](https://issues.apache.org/jira/browse/SPARK-36525)). If you want to contribute to that direction, then it might be better to work on Spark directly.

I think one of the values of Hyperspace is being

[2021-12-23 02:10] #405 closed

[2022-01-02 13:58] richiesgr opened #520 "Unable to use hyperspace on databricks runtime 8.4 (spark 3.1.2 scale 2.12)"
### Describe the issue
Trying to use hyperspace API produce a runtime exception.
`java.lang.NoSuchMethodError: org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDown(Lscala/PartialFunction;)Lorg/apache/spark/sql/catalyst/plans/logical/LogicalPlan;
	at com.microsoft.hyperspace.index.covering.CoveringIndexRuleUtils$.transformPlanToUseIndexOnlyScan(CoveringIndexRuleUtils.scala:110)
	at

[2022-01-02 15:07] richiesgr commented on #520
Hi sorry but seems databricks already includes hyperspace in the runtime so my version was just interfering

[2022-01-02 15:14] richiesgr commented on #520
Still same problem

[2022-01-04 22:55] sezruby commented on #520
Hi @richiesgr, we cannot support Databricks runtime completely as they use their custom Spark version. As  Hyperspace implementation is tightly coupled with the internal spark codebase, we cannot fix the issue unless we know the internal codebase.

[2022-01-23 15:00] neoix commented on #243
Would be possible to store indexes outside of the primary ADLS path (Defined by `spark.sql.warehouse.dir`)? Let's say we have one single Synapse instance which processes the files (Delta lakes) into different storage accounts (By tenant).

[2022-01-23 22:56] StixCoutinho commented on #520
Hi @sezruby ! Would databricks interested in using Hyperspace in the azure databricks environment? How would it be possible for me to get information about this with databricks?

[2022-01-24 23:04] dai-chen commented on #251
@apoorvedave1 I'm new to Hyperspace and looking for some issue to ramp up. I'm wondering why we want to remove the `v__=0` folder name here? Is it clearer to show it in explain output? Or is this latests one not necessary the one being used? Thanks!

[2022-01-25 03:15] paryoja commented on #243
Hi @Neoix. I think you can specify `spark.hyperspace.system.path` with the storage account that will be used.

[2022-01-25 09:53] neoix commented on #243
Hi @paryoja, unfortunately this is not working. `spark.hyperspace.system.path` depends to `spark.sql.warehouse.dir` as per the docs.
For reference: [https://microsoft.github.io/hyperspace/docs/ug-configuration/](https://microsoft.github.io/hyperspace/docs/ug-configuration/)

[2022-01-26 01:43] sezruby commented on #243
@Neoix, it depends only for the default value. You can change the path under any other storage.

EDIT: Note that the config should be set before creating Hyperspace object.

Example:
[code]

[2022-01-28 19:41] dai-chen opened #524 "Is index recommender / what-If API available?"
### Describe the issue

I'm wondering if what-if API mentioned in Hyperspace available for index recommendation? I checked docs, blogs and PRs but couldn't find anything related. Did I miss anything? Thanks!

[2022-01-28 20:02] dai-chen opened #525 "Z-Ordering index unavailable in Spark 2.x"
### Describe the issue

I'm testing out Z-Ordering with [latest `master` branch code](https://github.com/microsoft/hyperspace/commit/db4bef41b1a652d275fb5730c6b04a0a18e72cf3). It worked well with Spark 3.x. However, I found error when importing or using `ZOrderCoveringIndexConfig` class in Spark 2.4. Not sure if there is problem in my local setup. I know this new feature is not released yet. Repor

[2022-01-28 23:27] dai-chen opened #526 "[FEATURE REQUEST]: Integration with Presto/Trino query engine"
**Feature requested**

As a developer, I want this feature in order to leverage Hyperspace index in Presto/Trino. Not sure if this is similar request as https://github.com/microsoft/hyperspace/issues/514. I'm wondering if anyone looked into this feasibility before. Any plan or difficulty to implement this? Thanks!

**Acceptance criteria**

Describe what you consider (e.g., functionality requiremen

[2022-01-29 11:19] neoix commented on #243
I'm getting this error when trying to create indexes on top of my delta lake data frame.

**com.microsoft.hyperspace.HyperspaceException: Only creating index over HDFS file based scan nodes is supported.**

Please note that my ADLS Gen2 is in another Azure tenant and Synapse is accessing it using service principal.

[2022-01-29 11:54] neoix commented on #243
It looks when using delta lake, we should explicitly set new configs as described in the docs!

[code]

It works fine after adding this line. Thank you!

[2022-02-02 05:05] sezruby commented on #525
Hi @dai-chen, you need to use scala2.11 version for Spark2.4.

[2022-02-02 17:24] dai-chen commented on #525
Thanks for your reply!

[2022-02-02 17:24] #525 closed, assigned to nobody

[2022-02-04 23:49] dai-chen commented on #432
Is this issue already fixed in the PR above? I can see the index name (without v__=?) in Indexes Used section.

[2022-02-10 00:24] dai-chen opened #528 "MinMax analysis util throws exception on large dataset"
### Describe the issue

I tried to use this `MinMaxAnalysisUtil` to analyze distribution of column. It worked well on small data set, however threw exception on my TPC-H dataset which has around 10GB data in 1k partitions.

### To Reproduce

Run analysis tool on TPC-H 10GB data set:

[code]

### Expected behavior

Print diagram as usual.

### Environment
Please complete the following information i

[2022-02-10 00:53] dai-chen commented on #359
@imback82 Did you figure out the solution? I'm having same error even if the DataFrame is created from tableName directly. I'm using latest code with Spark 3.1.2.

[2022-02-23 23:05] dai-chen commented on #528
This seems caused by BigDecimal column instead of by the size of data size. If the column is created or cast as float/double, the utility has no issue generating the histogram.

[2022-04-14 21:52] nsivabalan opened #529 "[FEATURE REQUEST]: Hypserspace support for Hudi dataformat"
**Feature requested**

As a data engineer, I wish to use hyperspace to optimize hudi data.
**Acceptance criteria**

Describe what you consider (e.g., functionality requirement) has to be true to mark this feature as complete

- [ ] Add hudi as a supported data format [here](https://microsoft.github.io/hyperspace/docs/ug-supported-data-formats/).
- [ ] One should be able to leverage hyperspace inde

[2022-06-05 21:32] chethanuk opened #530 "Is Project HyperSpace Deprecated?"
### Describe the issue

Is Project HyperSpace Deprecated? or is it moved to different repo?

### To Reproduce

### Expected behavior

### Environment

[2022-06-17 04:23] sezruby commented on #530
Hi, sorry for the late reply.
Yes Hyperspace is currently pending due to priority.

[2022-07-21 12:40] edjones84 commented on #359
Yes I am having the same issue using Spark 3.1.1 - Just wondering if this is a spark version problem and there is any solution to this?